<form class="form add" style="background-color: white;" action="/company/addAnAuction" method="post">
<div class="cancel" id="addBtn" style="
    display: flex;
    justify-content: flex-end;
    cursor:pointer;
">❌</div>
    <h4>Add A Post</h4>
    <div class="description">Enter All the necessory details</div>
    <label for="name">Company Name</label>
    <input type="text" name="companyName"  value="<%= session.state.company.companyName %>" readonly>
    <label for="startDate">auctionDate</label>
    <input type="date" name="startDate">
    <label for="endDate">endTime</label>
    <input type="date" name="endDate">    
    <div class="buttonHolder">
        <button type="submit" class="submit">Submit</div>
    </div>
</form>


<script>
    document.querySelector('.cancel').addEventListener('click', () => {
        console.log('reached here');
        const userEditFormContainer = document.querySelector('.addASpice');
        if (userEditFormContainer) {
            userEditFormContainer.classList.toggle('hidden');
        }
    });
document.getElementById('addBtn').addEventListener('click', () => {
        const userEditFormContainer = document.querySelector('.add');
        if (userEditFormContainer) {
            userEditFormContainer.classList.toggle('visible');
        }
    });
</script>
