<div class="header" style="background-image: url('../../public/nav.svg');">
    <h2 class="title" style="color:green">Dashboard</h2>
    <div class="content" style="font-size: xx-large;color:green">  
       
            Here You Can Manage Your Company Profile

    </div>
    <div class="content">  
        <div class="Add" style="color:green">
            Add a Auction
        </div>
    </div>
</div>
<script>
      document.addEventListener('DOMContentLoaded', () => {
        const Add = document.querySelector('.Add');
        const spice =  document.querySelector('.spice');
        const auction = document.querySelector('.auction');
        const spices = document.querySelector('.spices');
        const auctions = document.querySelector('.auctions');

        Add.addEventListener('click', () => {
        const add =  document.querySelector('.add');
        if (add) {
            add.classList.toggle('visible');
            auction.classList.toggle('hide');
        } else {
            console.error('Element with class "add" not found.');
        }
    })
    auctions.addEventListener('click', () => {
        const auction =  document.querySelector('.auction');
        if (auction) {
            auction.classList.toggle('visible');
            spice.classList.toggle('hide');
        } else {
            console.error('Element with class "add" not found.');
        }
    })

 
      });
</script>
