<% console.log(session,'tg5jkgt5r'); %>
<% if (typeof (session.state.userType) !== 'undefined' && session.state.userType !== 'company' && session.state.userType !== 'user') { %>
    
 <nav style="background-image: url('nav.svg');">
    <div class="">
 
       <div style="display: flex;overflow: hidden; width: 200px;height: 50px; background-color: none;">
        <svg data-v-0dd9719b="" version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"   width="100%" height="100%" viewBox="0 0 340.000000 250.000000" preserveAspectRatio="xMidYMid meet" color-interpolation-filters="sRGB"  style="transform: scale(3);">
              <g data-v-0dd9719b="" fill="#34435c" class="pmspacesvg" transform="translate(36.71778869628906,87.4380111694336)">
                <!----> <g>
                    <g mask="url(#37c725cc-3556-42c7-9348-a7725145e63c)" transform="translate(0,0)"><g><rect data-gra="graph-name" fill="#FFCC66" x="0" y="46.64175844192505" width="266.5644226074219" height="13.326216697692871"/>
                    </g> <g data-gra="path-name" fill-rule="" class="tp-name" fill="#34435c" transform="translate(0,0)"><g transform="scale(1)"><g><path d="M6.32-13.92C6-13.84 5.12-13.28 4.88-13.28 3.92-13.2 3.92-14 4.24-14.96 6.56-22.32 9.76-17.28 11.92-18.64 12.96-19.28 12.96-22.64 12.16-23.44 9.92-25.92 2.32-21.92 0.96-19.28-1.84-13.84 1.6-13.6 2.64-11.76 1.6-11.04 0.24-9.68-0.56-8.88-2.08-7.36-3.12-5.76-4.48-4.16-5.68-2.72-7.28 1.44-7.2 3.12-7.12 4.4-5.36 8.16-2.96 8.48 0.64 8.96 13.28-3.44 7.28-11.68 8.8-12.96 16.48-14.72 18.32-14.8 18.64-14.8 18.72-15.84 18.88-16.08 15.12-15.92 11.28-15.68 6.32-13.92ZM-0.88 3.84C0.08 2.8 1.36 1.44 2.72-0.16 1.92 2.4 0.56 3.68-0.88 3.84ZM5.04-7.44C4.08-5.76 3.04-4.16 2-2.56 1.28-1.44 0.48-0.48-0.32 0.56-0.88 1.2-2.32 4.08-3.28 3.6-3.68 0.24 1.28-7.52 4.88-9.68 5.84-8.96 5.44-8.16 5.04-7.44ZM35.28-20.24C34.72-22.32 31.92-22.88 29.6-23.44 24.96-24.64 24-18.24 22.72-14.72 22.72-15.04 22.72-15.28 22.64-15.6L23.6-20.64 23.52-21.36C22.56-22.88 18.16-27.52 17.76-22.24 16.56-16.24 16.96-12.48 15.28-4.56 15.28-4.48 14.48 2.16 14.48 2.24L14.4 2.72C14.32 2.96 14.24 3.2 14.24 3.36 13.04 8.24 12.56 12 11.84 13.36 11.76 13.36 11.6 13.28 11.44 13.12 10.88 12.48 8.32 9.76 5.6 11.92L5.36 12.24C5.12 12.64 5.12 13.52 5.44 13.68 6.16 13.68 6.08 12.24 7.68 13.12 10.72 14.96 9.28 15.2 11.76 16.8 12.48 16.8 13.28 16.56 14.08 15.76 17.12 13.04 19.44 4.8 21.2-3.04L22-2.8C30.8 0.48 37.84-11.44 35.28-20.24ZM28.4-9.52C27.68-8.8 27.84-8.4 27.12-7.68 26.64-7.12 25.44-6.16 24.8-5.84 24.56-5.68 22.4-5.6 21.92-5.68L22.16-6.64C23.84-10.48 24.88-14.56 26.56-18.4 26.72-18.88 27.92-20.32 28-20.72 28-21.6 29.76-20.48 30.24-20.16 30.56-19.84 30.96-19.44 30.96-19.04 31.12-15.76 31.04-12.4 28.4-9.52ZM15.44 10.32C15.28 10.4 15.12 10.24 15.44 9.76 16.32 8.24 15.84 7.12 16.32 4.4L16.96 4.56C16.32 7.92 16.4 9.92 15.44 10.32ZM23.76-14.96C24.64-16.64 24.4-16.64 25.04-18.48 25.04-18.56 25.12-18.56 25.12-18.64L25.44-18.64C25.44-18.56 25.52-18.4 25.44-18.32 25.44-18.24 25.36-18.16 25.36-18.08 25.36-18 25.28-17.84 25.2-17.36 24.96-16.48 24.56-15.6 24.32-14.88L23.92-14.56C23.84-14.72 23.68-14.88 23.76-14.96ZM9.68 13.92C9.52 13.44 9.28 13.04 8.96 12.64 8.96 12.56 9.04 12.32 9.04 12.16 9.2 12.24 9.2 12.48 9.28 12.56 9.6 12.96 9.76 13.36 9.92 13.68ZM18.64-8C18.64-8.08 18.64-8.16 18.72-8.24 18.8-8.72 18.96-8.4 19.04-8ZM56.4-17.44C55.04-16 53.84-14.48 52.64-12.88L48.8-8.24C39.52 3.76 40.56-0.96 43.92-12.64 44.96-16.4 47.12-17.84 43.52-19.28 40.16-20.56 39.44-19.12 38.72-16.4 37.36-11.36 35.52-4.4 38.4 0.32 40 2.8 42.96 1.6 45.28-0.64 49.68-4.72 55.76-14.56 57.04-16.72 57.28-17.2 57.44-16.96 56.4-17.44ZM44.96-22.16C45.84-23.84 46.4-24.24 47.36-25.68 48.72-27.76 47.84-29.44 45.6-29.68L45.2-29.6C44-29.12 43.6-23.28 43.52-22 43.44-20.72 44.56-21.44 44.96-22.16ZM41.12-13.76C40.96-12.8 38.8-8.08 39.36-4.96 39.52-4.48 39.28-4.4 39.2-4.48 37.84-5.52 39.76-11.68 40.32-12.96 40.48-13.28 41.2-14.48 41.12-13.76ZM76.56-16.88C72.64-13.68 70.56-10.4 67.44-7.36 49.36 10.32 57.68-17.76 65.6-20.48 65.84-20.16 66-19.76 66.16-19.44L66.8-19.44C67.6-19.04 68.4-19.04 68.88-19.84 69.36-20.64 69.2-21.52 68.72-22.48 65.2-29.44 59.12-23.84 56.8-20.16 53.84-15.52 53.2-11.92 53.84-5.92 54.32-1.04 57.76 3.6 62.88-0.24 67.68-3.84 75.44-14.24 77.04-16 77.44-16.48 77.52-16.24 76.56-16.88ZM59.2-20.88C58.72-19.6 57.52-18.56 57.04-17.36 56.88-18.88 58.72-20.8 59.2-20.88ZM98.64-17.12L97.92-16.56C94-12.88 90.96-9.36 86.08-5.84 84.8-4.48 82.72-4.08 81.04-3.6 78.56-2.88 76.24-3.12 76.4-6.56 76.48-6.96 76.32-7.28 76.4-7.68 76.64-8.8 76.48-10.16 77.28-11.2L78.8-10.8C82.72-9.6 93.12-21.2 86.24-25.6 84.08-26.96 81.92-26.88 80.16-25.04 79.36-24.24 78.56-23.28 78-22.24 76.8-20.16 75.76-18 74.64-15.84L73.76-12.4C73.76-12.08 73.76-11.68 73.68-11.36 73.28-9.12 73.44-6.96 74-4.72 75.04-1.28 78.8 1.76 83.28 0.16 85.28-0.56 86.88-1.84 88.32-3.28 90.72-5.6 92.88-8.32 95.04-10.96 96.24-12.4 97.68-13.84 98.72-15.36 99.12-15.92 99.2-16.16 99.28-16.32 99.44-16.48 99.28-16.64 98.64-17.12ZM84.24-23.2C84.4-20.56 81.52-16.48 78.56-15.36 79.6-18.32 82.32-22.08 84.24-23.2ZM88.08-4.8C91.12-8.08 93.12-10.96 96.4-14.24 93.44-10.88 91.76-7.44 88.08-4.8ZM138.4-17.2C135.12-13.68 131.76-5.92 128.16-2.4 125.92-0.24 125.28-1.12 125.36-3.36 125.52-8.16 129.2-19.04 129.28-19.28 129.44-19.92 128.4-20.4 127.68-20.88 124.56-22.64 123.6-20.72 122.88-18L122.8-17.76C122.16-18.08 121.52-18.64 121.04-19.04 118.64-21.12 113.44-21.76 112-19.44L111.2-18.24C108.64-14.64 106.56-11.68 107.04-6.48 107.28-4.16 108.56-2.4 110.56-0.96 111.36-0.4 112.48-0.16 113.44 0 115.52 0.4 119.12-8.4 120.24-9.92 120.32-9.92 120.48-10.24 120.8-10.72 120.08-7.52 119.92-4.24 121.52-1.6 123.12 0.96 126.64 2.64 128.96 0.48 133.28-3.6 137.76-14.24 139.04-16.4 139.28-16.88 139.44-16.64 138.4-17.2ZM112.08-5.68C111.84-5.28 111.6-4.88 111.52-4.48 111.36-3.6 110.88-4.08 110.56-4.56 110.24-4.96 110-5.52 110.08-5.92 110.4-9.36 111.04-12.64 114-14.56 114.72-15.12 115.2-15.92 116-16.4 116.48-16.8 117.2-16.88 117.92-17.04 118.16-17.04 118.48-16.72 118.96-16.48 118.8-16.16 118.72-15.84 118.56-15.68ZM120.48-14.16C119.36-12.8 117.92-9.84 117.04-8.16 116.96-8.16 116.96-8.08 116.88-8.08 116.8-8.08 116.64-8.16 116.64-8.24 116.56-8.32 116.56-8.48 116.64-8.56 117.28-9.36 118.08-10.72 118.72-12.24 119.04-13.12 119.52-13.84 119.92-14.4 120-14.56 120.24-14.56 120.32-14.64 120.4-14.48 120.48-14.24 120.48-14.16ZM163.68-16.64C160.8-11.6 154.8-1.52 153.68-2.08 152.48-2.64 153.44-5.84 154.8-13.68 155.6-18.56 158.16-20.08 155.2-21.2 151.84-22.4 151.12-20.96 150.24-17.84 149.6-15.6 149.76-15.76 148.72-13.6 145.84-8.56 142.64-2.96 141.52-3.52 140.32-4.16 140.4-4.96 141.76-12.72 142.56-17.68 145.12-19.12 142.16-20.24 138.8-21.52 138.08-20.08 137.2-16.88 135.6-11.04 134.72-6.72 137.36-1.2 138.24 0.56 139.6 0.72 141.04 0.16 144.64-1.36 146.88-6.24 149.28-11.36 148.88-7.44 148.96-3.68 150.16-1.2 151.04 0.56 152.4 0.72 153.84 0.16 158.08-1.6 161.12-10.08 164.48-16.4 164.4-17.04 164.4-17.28 163.68-16.64ZM139.92-14.16C139.68-13.04 138.24-11.04 138.64-7.36 138.72-6.8 138.48-6.72 138.4-6.8 137.12-8.08 138.32-11.68 139.04-13.2 139.2-13.6 140-14.96 139.92-14.16ZM185.04-16.88C181.12-13.68 179.04-10.4 175.92-7.36 157.84 10.32 166.16-17.76 174.08-20.48 174.32-20.16 174.48-19.76 174.64-19.44L175.28-19.44C176.08-19.04 176.88-19.04 177.36-19.84 177.84-20.64 177.68-21.52 177.2-22.48 173.68-29.44 167.6-23.84 165.28-20.16 162.32-15.52 161.68-11.92 162.32-5.92 162.8-1.04 166.24 3.6 171.36-0.24 176.16-3.84 183.92-14.24 185.52-16 185.92-16.48 186-16.24 185.04-16.88ZM167.68-20.88C167.2-19.6 166-18.56 165.52-17.36 165.36-18.88 167.2-20.8 167.68-20.88ZM199.28-16.48C196.24-12.96 193.12-5.28 189.68-1.68 187.6 0.48 186.88-0.4 186.88-2.64 186.8-7.12 189.76-18.24 191.92-26.24L192.56-26.08C196.08-25.36 200.24-24.72 202.24-25.84 202-26.56 201.12-28.48 200.8-28.08 200.24-27.36 196.48-27.84 192.48-28.56 193.04-30.56 193.44-32.16 193.68-33.36 194.24-35.68 192.72-36 190-36.48 189.28-36.64 188.08-36 187.92-35.36 187.6-33.92 187.04-32 186.4-29.76 183.52-30.32 175.92-31.2 177.52-25.76L177.76-25.28C178-24.8 178.8-24.16 178.96-24.4 179.12-25.12 177.92-26 179.04-26.88 180.8-28.24 182.08-28.08 185.76-27.44 184.96-24.48 184.08-20.96 183.28-17.28L182.56-12.72C182.24-10.56 181.84-7.36 182.08-4.64 182.56 0.48 184.4 2.72 186 2.96 190.72 3.84 198-12.16 200-15.68 200.24-16.16 200.32-15.92 199.28-16.48ZM193.28-27.36L199.28-26.56C197.36-26.72 192.16-27.28 192.16-27.28 192.08-27.28 192.08-27.28 192-27.36 192.08-27.52 193.12-27.28 193.28-27.36ZM216.16-17.44C214.8-16 213.6-14.48 212.4-12.88L208.56-8.24C199.28 3.76 200.32-0.96 203.68-12.64 204.72-16.4 206.88-17.84 203.28-19.28 199.92-20.56 199.2-19.12 198.48-16.4 197.12-11.36 195.28-4.4 198.16 0.32 199.76 2.8 202.72 1.6 205.04-0.64 209.44-4.72 215.52-14.56 216.8-16.72 217.04-17.2 217.2-16.96 216.16-17.44ZM204.72-22.16C205.6-23.84 206.16-24.24 207.12-25.68 208.48-27.76 207.6-29.44 205.36-29.68L204.96-29.6C203.76-29.12 203.36-23.28 203.28-22 203.2-20.72 204.32-21.44 204.72-22.16ZM200.88-13.76C200.72-12.8 198.56-8.08 199.12-4.96 199.28-4.48 199.04-4.4 198.96-4.48 197.6-5.52 199.52-11.68 200.08-12.96 200.24-13.28 200.96-14.48 200.88-13.76ZM251.84-0.64C252.4-5.44 253.6-8.56 255.12-12.88 256.4-16.48 259.44-21.92 259.36-25.76 259.36-28.32 256.88-30.24 254.48-30.08 251.44-29.76 245.12-21.2 243.28-18.64 242.8-17.92 242.16-16.32 241.28-16.56 249.36-36.56 229.28-22.08 225.84-21.92 224.08-21.84 224-21.6 224.32-22.4 224.96-24.24 220.88-27.44 217.68-22.96 214.4-18.24 212.64-12.24 213.68-6 214.24-3.2 217.12 2.16 220.64 0.96 225.2-1.04 227.6-6.56 228.72-11.2 229.44-14.16 229.68-15.44 228.64-18.56 230.96-19.92 232.56-20.4 235.04-21.36 236.96-22.08 237.6-22.72 236.48-20.96 234.48-17.52 233.92-13.36 233.12-9.44 232.08-4.08 234.64-1.84 238.8-5.36 239.04-5.6 240.32-7.28 240.32-7.28 241.84-9.36 243.44-11.36 245.04-13.44 247.2-16.32 248.96-19.44 251.12-22.24 252.8-24.56 252.08-23.28 251.68-21.6 250.16-15.52 247.6-7.84 247.76-1.44 248 1.52 249.04 4.24 252.08 5.92 254.08 7.04 256.64 3.76 255.12 2.24 252.24 4.08 251.68 1.36 251.84-0.64ZM219.12-3.04C218-1.36 216.88-2.8 216.8-3.92 216.8-4.72 216.72-5.44 216.8-6.16 216.88-10.8 219.68-17.92 223.04-20.8 224.48-19.76 224.88-18.72 224.96-17.04 225.2-11.68 221.68-7.04 219.12-3.04ZM223.04-4.48L222.88-4.56C223.2-5.76 224.32-8.32 224.88-9.52 226.32-12.8 226.24-13.2 226.88-16.64 227.12-17.68 226.8-17.84 227.44-17.68 229.68-17.12 224.32-5.36 223.04-4.48ZM244.64-16C243.76-14.8 241.36-10.8 240.32-10.24 239.68-9.92 242.08-13.04 242.24-13.2 249.28-22.96 257.28-33.04 244.64-16ZM249.28-3.12L249.2-2.72C249.28-5.2 250.16-10 250.88-12.4 251.52-14.56 253.76-21.12 252.08-15.04 250.88-10.88 250.16-7.44 249.28-3.12ZM234.72-8.64L234.4-8.88 235.28-12C235.36-12.32 235.44-13.2 235.6-13.36 236.24-12.64 234.96-9.44 234.72-8.64Z" transform="translate(7.202885627746582, 36.50486755371094)"/></g> <!----> <!----> <!----> <!----> <!----> <!----> <!----></g></g></g></g></g></mask><defs v-gra="od"/></svg>
       </div>
<!-- 4daa57 -->
    </div>
    <div class="content">
        <div id="home">
            Home
        </div>
        <script>
             document.getElementById('home').addEventListener('click', () => {
                  location.replace('/')
              });
        </script>
        <div id="auctionPage" style=" background: linear-gradient(90deg, #7b54f2, #ff667e, #ffab6f);
        -webkit-background-clip: text;
        color: transparent; 
      ">
            Auction Center
        </div>
        <script>
            document.getElementById('auctionPage').addEventListener('click', () => {
                 location.replace('/user/auction')
             });
       </script>
    </div>
    <div class="loginBox">
        <div class="menu">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <g clip-path="url(#clip0_2_25)">
                  <path d="M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15Z" stroke="#CF9595" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M19.4 15C19.2669 15.3016 19.2272 15.6362 19.286 15.9606C19.3448 16.285 19.4995 16.5843 19.73 16.82L19.79 16.88C19.976 17.0657 20.1235 17.2863 20.2241 17.5291C20.3248 17.7719 20.3766 18.0322 20.3766 18.295C20.3766 18.5578 20.3248 18.8181 20.2241 19.0609C20.1235 19.3037 19.976 19.5243 19.79 19.71C19.6043 19.896 19.3837 20.0435 19.1409 20.1441C18.8981 20.2448 18.6378 20.2966 18.375 20.2966C18.1122 20.2966 17.8519 20.2448 17.6091 20.1441C17.3663 20.0435 17.1457 19.896 16.96 19.71L16.9 19.65C16.6643 19.4195 16.365 19.2648 16.0406 19.206C15.7162 19.1472 15.3816 19.1869 15.08 19.32C14.7842 19.4468 14.532 19.6572 14.3543 19.9255C14.1766 20.1938 14.0813 20.5082 14.08 20.83V21C14.08 21.5304 13.8693 22.0391 13.4942 22.4142C13.1191 22.7893 12.6104 23 12.08 23C11.5496 23 11.0409 22.7893 10.6658 22.4142C10.2907 22.0391 10.08 21.5304 10.08 21V20.91C10.0723 20.579 9.96512 20.258 9.77251 19.9887C9.5799 19.7194 9.31074 19.5143 9 19.4C8.69838 19.2669 8.36381 19.2272 8.03941 19.286C7.71502 19.3448 7.41568 19.4995 7.18 19.73L7.12 19.79C6.93425 19.976 6.71368 20.1235 6.47088 20.2241C6.22808 20.3248 5.96783 20.3766 5.705 20.3766C5.44217 20.3766 5.18192 20.3248 4.93912 20.2241C4.69632 20.1235 4.47575 19.976 4.29 19.79C4.10405 19.6043 3.95653 19.3837 3.85588 19.1409C3.75523 18.8981 3.70343 18.6378 3.70343 18.375C3.70343 18.1122 3.75523 17.8519 3.85588 17.6091C3.95653 17.3663 4.10405 17.1457 4.29 16.96L4.35 16.9C4.58054 16.6643 4.73519 16.365 4.794 16.0406C4.85282 15.7162 4.81312 15.3816 4.68 15.08C4.55324 14.7842 4.34276 14.532 4.07447 14.3543C3.80618 14.1766 3.49179 14.0813 3.17 14.08H3C2.46957 14.08 1.96086 13.8693 1.58579 13.4942C1.21071 13.1191 1 12.6104 1 12.08C1 11.5496 1.21071 11.0409 1.58579 10.6658C1.96086 10.2907 2.46957 10.08 3 10.08H3.09C3.42099 10.0723 3.742 9.96512 4.0113 9.77251C4.28059 9.5799 4.48572 9.31074 4.6 9C4.73312 8.69838 4.77282 8.36381 4.714 8.03941C4.65519 7.71502 4.50054 7.41568 4.27 7.18L4.21 7.12C4.02405 6.93425 3.87653 6.71368 3.77588 6.47088C3.67523 6.22808 3.62343 5.96783 3.62343 5.705C3.62343 5.44217 3.67523 5.18192 3.77588 4.93912C3.87653 4.69632 4.02405 4.47575 4.21 4.29C4.39575 4.10405 4.61632 3.95653 4.85912 3.85588C5.10192 3.75523 5.36217 3.70343 5.625 3.70343C5.88783 3.70343 6.14808 3.75523 6.39088 3.85588C6.63368 3.95653 6.85425 4.10405 7.04 4.29L7.1 4.35C7.33568 4.58054 7.63502 4.73519 7.95941 4.794C8.28381 4.85282 8.61838 4.81312 8.92 4.68H9C9.29577 4.55324 9.54802 4.34276 9.72569 4.07447C9.90337 3.80618 9.99872 3.49179 10 3.17V3C10 2.46957 10.2107 1.96086 10.5858 1.58579C10.9609 1.21071 11.4696 1 12 1C12.5304 1 13.0391 1.21071 13.4142 1.58579C13.7893 1.96086 14 2.46957 14 3V3.09C14.0013 3.41179 14.0966 3.72618 14.2743 3.99447C14.452 4.26276 14.7042 4.47324 15 4.6C15.3016 4.73312 15.6362 4.77282 15.9606 4.714C16.285 4.65519 16.5843 4.50054 16.82 4.27L16.88 4.21C17.0657 4.02405 17.2863 3.87653 17.5291 3.77588C17.7719 3.67523 18.0322 3.62343 18.295 3.62343C18.5578 3.62343 18.8181 3.67523 19.0609 3.77588C19.3037 3.87653 19.5243 4.02405 19.71 4.21C19.896 4.39575 20.0435 4.61632 20.1441 4.85912C20.2448 5.10192 20.2966 5.36217 20.2966 5.625C20.2966 5.88783 20.2448 6.14808 20.1441 6.39088C20.0435 6.63368 19.896 6.85425 19.71 7.04L19.65 7.1C19.4195 7.33568 19.2648 7.63502 19.206 7.95941C19.1472 8.28381 19.1869 8.61838 19.32 8.92V9C19.4468 9.29577 19.6572 9.54802 19.9255 9.72569C20.1938 9.90337 20.5082 9.99872 20.83 10H21C21.5304 10 22.0391 10.2107 22.4142 10.5858C22.7893 10.9609 23 11.4696 23 12C23 12.5304 22.7893 13.0391 22.4142 13.4142C22.0391 13.7893 21.5304 14 21 14H20.91C20.5882 14.0013 20.2738 14.0966 20.0055 14.2743C19.7372 14.452 19.5268 14.7042 19.4 15Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                  <clipPath id="clip0_2_25">
                    <rect width="24" height="24" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
        </div>
        <div class="themeMode">
            <div class="day">
                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-[1.2rem] w-[1.2rem] rotate-0 scale-100 transition-all dark:-rotate-90 dark:scale-0"><path d="M7.5 0C7.77614 0 8 0.223858 8 0.5V2.5C8 2.77614 7.77614 3 7.5 3C7.22386 3 7 2.77614 7 2.5V0.5C7 0.223858 7.22386 0 7.5 0ZM2.1967 2.1967C2.39196 2.00144 2.70854 2.00144 2.90381 2.1967L4.31802 3.61091C4.51328 3.80617 4.51328 4.12276 4.31802 4.31802C4.12276 4.51328 3.80617 4.51328 3.61091 4.31802L2.1967 2.90381C2.00144 2.70854 2.00144 2.39196 2.1967 2.1967ZM0.5 7C0.223858 7 0 7.22386 0 7.5C0 7.77614 0.223858 8 0.5 8H2.5C2.77614 8 3 7.77614 3 7.5C3 7.22386 2.77614 7 2.5 7H0.5ZM2.1967 12.8033C2.00144 12.608 2.00144 12.2915 2.1967 12.0962L3.61091 10.682C3.80617 10.4867 4.12276 10.4867 4.31802 10.682C4.51328 10.8772 4.51328 11.1938 4.31802 11.3891L2.90381 12.8033C2.70854 12.9986 2.39196 12.9986 2.1967 12.8033ZM12.5 7C12.2239 7 12 7.22386 12 7.5C12 7.77614 12.2239 8 12.5 8H14.5C14.7761 8 15 7.77614 15 7.5C15 7.22386 14.7761 7 14.5 7H12.5ZM10.682 4.31802C10.4867 4.12276 10.4867 3.80617 10.682 3.61091L12.0962 2.1967C12.2915 2.00144 12.608 2.00144 12.8033 2.1967C12.9986 2.39196 12.9986 2.70854 12.8033 2.90381L11.3891 4.31802C11.1938 4.51328 10.8772 4.51328 10.682 4.31802ZM8 12.5C8 12.2239 7.77614 12 7.5 12C7.22386 12 7 12.2239 7 12.5V14.5C7 14.7761 7.22386 15 7.5 15C7.77614 15 8 14.7761 8 14.5V12.5ZM10.682 10.682C10.8772 10.4867 11.1938 10.4867 11.3891 10.682L12.8033 12.0962C12.9986 12.2915 12.9986 12.608 12.8033 12.8033C12.608 12.9986 12.2915 12.9986 12.0962 12.8033L10.682 11.3891C10.4867 11.1938 10.4867 10.8772 10.682 10.682ZM5.5 7.5C5.5 6.39543 6.39543 5.5 7.5 5.5C8.60457 5.5 9.5 6.39543 9.5 7.5C9.5 8.60457 8.60457 9.5 7.5 9.5C6.39543 9.5 5.5 8.60457 5.5 7.5ZM7.5 4.5C5.84315 4.5 4.5 5.84315 4.5 7.5C4.5 9.15685 5.84315 10.5 7.5 10.5C9.15685 10.5 10.5 9.15685 10.5 7.5C10.5 5.84315 9.15685 4.5 7.5 4.5Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"/></svg>
            </div>
            <div class="night">
                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" class="absolute h-[1.2rem] w-[1.2rem] rotate-90 scale-0 transition-all dark:rotate-0 dark:scale-100"><path d="M2.89998 0.499976C2.89998 0.279062 2.72089 0.0999756 2.49998 0.0999756C2.27906 0.0999756 2.09998 0.279062 2.09998 0.499976V1.09998H1.49998C1.27906 1.09998 1.09998 1.27906 1.09998 1.49998C1.09998 1.72089 1.27906 1.89998 1.49998 1.89998H2.09998V2.49998C2.09998 2.72089 2.27906 2.89998 2.49998 2.89998C2.72089 2.89998 2.89998 2.72089 2.89998 2.49998V1.89998H3.49998C3.72089 1.89998 3.89998 1.72089 3.89998 1.49998C3.89998 1.27906 3.72089 1.09998 3.49998 1.09998H2.89998V0.499976ZM5.89998 3.49998C5.89998 3.27906 5.72089 3.09998 5.49998 3.09998C5.27906 3.09998 5.09998 3.27906 5.09998 3.49998V4.09998H4.49998C4.27906 4.09998 4.09998 4.27906 4.09998 4.49998C4.09998 4.72089 4.27906 4.89998 4.49998 4.89998H5.09998V5.49998C5.09998 5.72089 5.27906 5.89998 5.49998 5.89998C5.72089 5.89998 5.89998 5.72089 5.89998 5.49998V4.89998H6.49998C6.72089 4.89998 6.89998 4.72089 6.89998 4.49998C6.89998 4.27906 6.72089 4.09998 6.49998 4.09998H5.89998V3.49998ZM1.89998 6.49998C1.89998 6.27906 1.72089 6.09998 1.49998 6.09998C1.27906 6.09998 1.09998 6.27906 1.09998 6.49998V7.09998H0.499976C0.279062 7.09998 0.0999756 7.27906 0.0999756 7.49998C0.0999756 7.72089 0.279062 7.89998 0.499976 7.89998H1.09998V8.49998C1.09998 8.72089 1.27906 8.89997 1.49998 8.89997C1.72089 8.89997 1.89998 8.72089 1.89998 8.49998V7.89998H2.49998C2.72089 7.89998 2.89998 7.72089 2.89998 7.49998C2.89998 7.27906 2.72089 7.09998 2.49998 7.09998H1.89998V6.49998ZM8.54406 0.98184L8.24618 0.941586C8.03275 0.917676 7.90692 1.1655 8.02936 1.34194C8.17013 1.54479 8.29981 1.75592 8.41754 1.97445C8.91878 2.90485 9.20322 3.96932 9.20322 5.10022C9.20322 8.37201 6.82247 11.0878 3.69887 11.6097C3.45736 11.65 3.20988 11.6772 2.96008 11.6906C2.74563 11.702 2.62729 11.9535 2.77721 12.1072C2.84551 12.1773 2.91535 12.2458 2.98667 12.3128L3.05883 12.3795L3.31883 12.6045L3.50684 12.7532L3.62796 12.8433L3.81491 12.9742L3.99079 13.089C4.11175 13.1651 4.23536 13.2375 4.36157 13.3059L4.62496 13.4412L4.88553 13.5607L5.18837 13.6828L5.43169 13.7686C5.56564 13.8128 5.70149 13.8529 5.83857 13.8885C5.94262 13.9155 6.04767 13.9401 6.15405 13.9622C6.27993 13.9883 6.40713 14.0109 6.53544 14.0298L6.85241 14.0685L7.11934 14.0892C7.24637 14.0965 7.37436 14.1002 7.50322 14.1002C11.1483 14.1002 14.1032 11.1453 14.1032 7.50023C14.1032 7.25044 14.0893 7.00389 14.0623 6.76131L14.0255 6.48407C13.991 6.26083 13.9453 6.04129 13.8891 5.82642C13.8213 5.56709 13.7382 5.31398 13.6409 5.06881L13.5279 4.80132L13.4507 4.63542L13.3766 4.48666C13.2178 4.17773 13.0353 3.88295 12.8312 3.60423L12.6782 3.40352L12.4793 3.16432L12.3157 2.98361L12.1961 2.85951L12.0355 2.70246L11.8134 2.50184L11.4925 2.24191L11.2483 2.06498L10.9562 1.87446L10.6346 1.68894L10.3073 1.52378L10.1938 1.47176L9.95488 1.3706L9.67791 1.2669L9.42566 1.1846L9.10075 1.09489L8.83599 1.03486L8.54406 0.98184ZM10.4032 5.30023C10.4032 4.27588 10.2002 3.29829 9.83244 2.40604C11.7623 3.28995 13.1032 5.23862 13.1032 7.50023C13.1032 10.593 10.596 13.1002 7.50322 13.1002C6.63646 13.1002 5.81597 12.9036 5.08355 12.5522C6.5419 12.0941 7.81081 11.2082 8.74322 10.0416C8.87963 10.2284 9.10028 10.3497 9.34928 10.3497C9.76349 10.3497 10.0993 10.0139 10.0993 9.59971C10.0993 9.24256 9.84965 8.94373 9.51535 8.86816C9.57741 8.75165 9.63653 8.63334 9.6926 8.51332C9.88358 8.63163 10.1088 8.69993 10.35 8.69993C11.0403 8.69993 11.6 8.14028 11.6 7.44993C11.6 6.75976 11.0406 6.20024 10.3505 6.19993C10.3853 5.90487 10.4032 5.60464 10.4032 5.30023Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"/></svg>          
              </div>
        </div>
        <div class="login">
           Login
        </div>
        
    </div>
</nav>
<div class="dropDown" style="background-image: url('nav.svg');">
    
    <div class="content">
        <div>
            Home
        </div>
        <div style=" background: linear-gradient(90deg, #7b54f2, #ff667e, #ffab6f);
        -webkit-background-clip: text;
        color: transparent; 
      ">
            Auction Center
        </div>
        <div>
            Profile
        </div>
    </div>
   
</div>
<!--  -->

<div class="loginDropDown">
    <div class="content">
        <div id="aut">
            User Login
        </div>
        <script>
            document.getElementById('aut').addEventListener('click', () => {
                 location.replace('/user/login')
             });
       </script>
        <div id="caut">
            Company Login
        </div>
        <script>
            document.getElementById('caut').addEventListener('click', () => {
                 location.replace('/company/login')
             });
       </script>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const element = document.body;
        const themeToggle = document.querySelector('.themeMode');
        const menu = document.querySelector('nav .loginBox .menu');
        const login = document.querySelector('nav .loginBox .login');
        const isDarkMode = localStorage.getItem('theme') === 'true';
        if (isDarkMode) {
            element.classList.add('darkMode');
        }
         
        menu.addEventListener('click', () => {
            const dropDown = document.querySelector('.dropDown')
            console.log(dropDown.classList,'dropdownfreurgir');
            dropDown.classList.toggle('visible');
        });

        login.addEventListener('click', () => {
            const dropDown = document.querySelector('.loginDropDown')
            console.log(dropDown.classList,'dropdownfreurgir');
            dropDown.classList.toggle('visible');
        });
       
        themeToggle.addEventListener('click', () => {
            element.classList.toggle('darkMode');
            const isDarkModeNow = element.classList.contains('darkMode');
            localStorage.setItem('theme', isDarkModeNow.toString());
        });


    });
</script>
<% } else if (typeof (session.state.userType) !== 'undefined' && session.state.userType === 'user' ) { %>
    <nav style="background-image: url('nav.svg');">
        <div class="">
 
            <div style="display: flex;overflow: hidden; width: 200px;height: 50px; background-color: none;">
             <svg data-v-0dd9719b="" version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"   width="100%" height="100%" viewBox="0 0 340.000000 250.000000" preserveAspectRatio="xMidYMid meet" color-interpolation-filters="sRGB"  style="transform: scale(3);">
                   <g data-v-0dd9719b="" fill="#34435c" class="pmspacesvg" transform="translate(36.71778869628906,87.4380111694336)">
                     <!----> <g>
                         <g mask="url(#37c725cc-3556-42c7-9348-a7725145e63c)" transform="translate(0,0)"><g><rect data-gra="graph-name" fill="#FFCC66" x="0" y="46.64175844192505" width="266.5644226074219" height="13.326216697692871"/>
                         </g> <g data-gra="path-name" fill-rule="" class="tp-name" fill="#34435c" transform="translate(0,0)"><g transform="scale(1)"><g><path d="M6.32-13.92C6-13.84 5.12-13.28 4.88-13.28 3.92-13.2 3.92-14 4.24-14.96 6.56-22.32 9.76-17.28 11.92-18.64 12.96-19.28 12.96-22.64 12.16-23.44 9.92-25.92 2.32-21.92 0.96-19.28-1.84-13.84 1.6-13.6 2.64-11.76 1.6-11.04 0.24-9.68-0.56-8.88-2.08-7.36-3.12-5.76-4.48-4.16-5.68-2.72-7.28 1.44-7.2 3.12-7.12 4.4-5.36 8.16-2.96 8.48 0.64 8.96 13.28-3.44 7.28-11.68 8.8-12.96 16.48-14.72 18.32-14.8 18.64-14.8 18.72-15.84 18.88-16.08 15.12-15.92 11.28-15.68 6.32-13.92ZM-0.88 3.84C0.08 2.8 1.36 1.44 2.72-0.16 1.92 2.4 0.56 3.68-0.88 3.84ZM5.04-7.44C4.08-5.76 3.04-4.16 2-2.56 1.28-1.44 0.48-0.48-0.32 0.56-0.88 1.2-2.32 4.08-3.28 3.6-3.68 0.24 1.28-7.52 4.88-9.68 5.84-8.96 5.44-8.16 5.04-7.44ZM35.28-20.24C34.72-22.32 31.92-22.88 29.6-23.44 24.96-24.64 24-18.24 22.72-14.72 22.72-15.04 22.72-15.28 22.64-15.6L23.6-20.64 23.52-21.36C22.56-22.88 18.16-27.52 17.76-22.24 16.56-16.24 16.96-12.48 15.28-4.56 15.28-4.48 14.48 2.16 14.48 2.24L14.4 2.72C14.32 2.96 14.24 3.2 14.24 3.36 13.04 8.24 12.56 12 11.84 13.36 11.76 13.36 11.6 13.28 11.44 13.12 10.88 12.48 8.32 9.76 5.6 11.92L5.36 12.24C5.12 12.64 5.12 13.52 5.44 13.68 6.16 13.68 6.08 12.24 7.68 13.12 10.72 14.96 9.28 15.2 11.76 16.8 12.48 16.8 13.28 16.56 14.08 15.76 17.12 13.04 19.44 4.8 21.2-3.04L22-2.8C30.8 0.48 37.84-11.44 35.28-20.24ZM28.4-9.52C27.68-8.8 27.84-8.4 27.12-7.68 26.64-7.12 25.44-6.16 24.8-5.84 24.56-5.68 22.4-5.6 21.92-5.68L22.16-6.64C23.84-10.48 24.88-14.56 26.56-18.4 26.72-18.88 27.92-20.32 28-20.72 28-21.6 29.76-20.48 30.24-20.16 30.56-19.84 30.96-19.44 30.96-19.04 31.12-15.76 31.04-12.4 28.4-9.52ZM15.44 10.32C15.28 10.4 15.12 10.24 15.44 9.76 16.32 8.24 15.84 7.12 16.32 4.4L16.96 4.56C16.32 7.92 16.4 9.92 15.44 10.32ZM23.76-14.96C24.64-16.64 24.4-16.64 25.04-18.48 25.04-18.56 25.12-18.56 25.12-18.64L25.44-18.64C25.44-18.56 25.52-18.4 25.44-18.32 25.44-18.24 25.36-18.16 25.36-18.08 25.36-18 25.28-17.84 25.2-17.36 24.96-16.48 24.56-15.6 24.32-14.88L23.92-14.56C23.84-14.72 23.68-14.88 23.76-14.96ZM9.68 13.92C9.52 13.44 9.28 13.04 8.96 12.64 8.96 12.56 9.04 12.32 9.04 12.16 9.2 12.24 9.2 12.48 9.28 12.56 9.6 12.96 9.76 13.36 9.92 13.68ZM18.64-8C18.64-8.08 18.64-8.16 18.72-8.24 18.8-8.72 18.96-8.4 19.04-8ZM56.4-17.44C55.04-16 53.84-14.48 52.64-12.88L48.8-8.24C39.52 3.76 40.56-0.96 43.92-12.64 44.96-16.4 47.12-17.84 43.52-19.28 40.16-20.56 39.44-19.12 38.72-16.4 37.36-11.36 35.52-4.4 38.4 0.32 40 2.8 42.96 1.6 45.28-0.64 49.68-4.72 55.76-14.56 57.04-16.72 57.28-17.2 57.44-16.96 56.4-17.44ZM44.96-22.16C45.84-23.84 46.4-24.24 47.36-25.68 48.72-27.76 47.84-29.44 45.6-29.68L45.2-29.6C44-29.12 43.6-23.28 43.52-22 43.44-20.72 44.56-21.44 44.96-22.16ZM41.12-13.76C40.96-12.8 38.8-8.08 39.36-4.96 39.52-4.48 39.28-4.4 39.2-4.48 37.84-5.52 39.76-11.68 40.32-12.96 40.48-13.28 41.2-14.48 41.12-13.76ZM76.56-16.88C72.64-13.68 70.56-10.4 67.44-7.36 49.36 10.32 57.68-17.76 65.6-20.48 65.84-20.16 66-19.76 66.16-19.44L66.8-19.44C67.6-19.04 68.4-19.04 68.88-19.84 69.36-20.64 69.2-21.52 68.72-22.48 65.2-29.44 59.12-23.84 56.8-20.16 53.84-15.52 53.2-11.92 53.84-5.92 54.32-1.04 57.76 3.6 62.88-0.24 67.68-3.84 75.44-14.24 77.04-16 77.44-16.48 77.52-16.24 76.56-16.88ZM59.2-20.88C58.72-19.6 57.52-18.56 57.04-17.36 56.88-18.88 58.72-20.8 59.2-20.88ZM98.64-17.12L97.92-16.56C94-12.88 90.96-9.36 86.08-5.84 84.8-4.48 82.72-4.08 81.04-3.6 78.56-2.88 76.24-3.12 76.4-6.56 76.48-6.96 76.32-7.28 76.4-7.68 76.64-8.8 76.48-10.16 77.28-11.2L78.8-10.8C82.72-9.6 93.12-21.2 86.24-25.6 84.08-26.96 81.92-26.88 80.16-25.04 79.36-24.24 78.56-23.28 78-22.24 76.8-20.16 75.76-18 74.64-15.84L73.76-12.4C73.76-12.08 73.76-11.68 73.68-11.36 73.28-9.12 73.44-6.96 74-4.72 75.04-1.28 78.8 1.76 83.28 0.16 85.28-0.56 86.88-1.84 88.32-3.28 90.72-5.6 92.88-8.32 95.04-10.96 96.24-12.4 97.68-13.84 98.72-15.36 99.12-15.92 99.2-16.16 99.28-16.32 99.44-16.48 99.28-16.64 98.64-17.12ZM84.24-23.2C84.4-20.56 81.52-16.48 78.56-15.36 79.6-18.32 82.32-22.08 84.24-23.2ZM88.08-4.8C91.12-8.08 93.12-10.96 96.4-14.24 93.44-10.88 91.76-7.44 88.08-4.8ZM138.4-17.2C135.12-13.68 131.76-5.92 128.16-2.4 125.92-0.24 125.28-1.12 125.36-3.36 125.52-8.16 129.2-19.04 129.28-19.28 129.44-19.92 128.4-20.4 127.68-20.88 124.56-22.64 123.6-20.72 122.88-18L122.8-17.76C122.16-18.08 121.52-18.64 121.04-19.04 118.64-21.12 113.44-21.76 112-19.44L111.2-18.24C108.64-14.64 106.56-11.68 107.04-6.48 107.28-4.16 108.56-2.4 110.56-0.96 111.36-0.4 112.48-0.16 113.44 0 115.52 0.4 119.12-8.4 120.24-9.92 120.32-9.92 120.48-10.24 120.8-10.72 120.08-7.52 119.92-4.24 121.52-1.6 123.12 0.96 126.64 2.64 128.96 0.48 133.28-3.6 137.76-14.24 139.04-16.4 139.28-16.88 139.44-16.64 138.4-17.2ZM112.08-5.68C111.84-5.28 111.6-4.88 111.52-4.48 111.36-3.6 110.88-4.08 110.56-4.56 110.24-4.96 110-5.52 110.08-5.92 110.4-9.36 111.04-12.64 114-14.56 114.72-15.12 115.2-15.92 116-16.4 116.48-16.8 117.2-16.88 117.92-17.04 118.16-17.04 118.48-16.72 118.96-16.48 118.8-16.16 118.72-15.84 118.56-15.68ZM120.48-14.16C119.36-12.8 117.92-9.84 117.04-8.16 116.96-8.16 116.96-8.08 116.88-8.08 116.8-8.08 116.64-8.16 116.64-8.24 116.56-8.32 116.56-8.48 116.64-8.56 117.28-9.36 118.08-10.72 118.72-12.24 119.04-13.12 119.52-13.84 119.92-14.4 120-14.56 120.24-14.56 120.32-14.64 120.4-14.48 120.48-14.24 120.48-14.16ZM163.68-16.64C160.8-11.6 154.8-1.52 153.68-2.08 152.48-2.64 153.44-5.84 154.8-13.68 155.6-18.56 158.16-20.08 155.2-21.2 151.84-22.4 151.12-20.96 150.24-17.84 149.6-15.6 149.76-15.76 148.72-13.6 145.84-8.56 142.64-2.96 141.52-3.52 140.32-4.16 140.4-4.96 141.76-12.72 142.56-17.68 145.12-19.12 142.16-20.24 138.8-21.52 138.08-20.08 137.2-16.88 135.6-11.04 134.72-6.72 137.36-1.2 138.24 0.56 139.6 0.72 141.04 0.16 144.64-1.36 146.88-6.24 149.28-11.36 148.88-7.44 148.96-3.68 150.16-1.2 151.04 0.56 152.4 0.72 153.84 0.16 158.08-1.6 161.12-10.08 164.48-16.4 164.4-17.04 164.4-17.28 163.68-16.64ZM139.92-14.16C139.68-13.04 138.24-11.04 138.64-7.36 138.72-6.8 138.48-6.72 138.4-6.8 137.12-8.08 138.32-11.68 139.04-13.2 139.2-13.6 140-14.96 139.92-14.16ZM185.04-16.88C181.12-13.68 179.04-10.4 175.92-7.36 157.84 10.32 166.16-17.76 174.08-20.48 174.32-20.16 174.48-19.76 174.64-19.44L175.28-19.44C176.08-19.04 176.88-19.04 177.36-19.84 177.84-20.64 177.68-21.52 177.2-22.48 173.68-29.44 167.6-23.84 165.28-20.16 162.32-15.52 161.68-11.92 162.32-5.92 162.8-1.04 166.24 3.6 171.36-0.24 176.16-3.84 183.92-14.24 185.52-16 185.92-16.48 186-16.24 185.04-16.88ZM167.68-20.88C167.2-19.6 166-18.56 165.52-17.36 165.36-18.88 167.2-20.8 167.68-20.88ZM199.28-16.48C196.24-12.96 193.12-5.28 189.68-1.68 187.6 0.48 186.88-0.4 186.88-2.64 186.8-7.12 189.76-18.24 191.92-26.24L192.56-26.08C196.08-25.36 200.24-24.72 202.24-25.84 202-26.56 201.12-28.48 200.8-28.08 200.24-27.36 196.48-27.84 192.48-28.56 193.04-30.56 193.44-32.16 193.68-33.36 194.24-35.68 192.72-36 190-36.48 189.28-36.64 188.08-36 187.92-35.36 187.6-33.92 187.04-32 186.4-29.76 183.52-30.32 175.92-31.2 177.52-25.76L177.76-25.28C178-24.8 178.8-24.16 178.96-24.4 179.12-25.12 177.92-26 179.04-26.88 180.8-28.24 182.08-28.08 185.76-27.44 184.96-24.48 184.08-20.96 183.28-17.28L182.56-12.72C182.24-10.56 181.84-7.36 182.08-4.64 182.56 0.48 184.4 2.72 186 2.96 190.72 3.84 198-12.16 200-15.68 200.24-16.16 200.32-15.92 199.28-16.48ZM193.28-27.36L199.28-26.56C197.36-26.72 192.16-27.28 192.16-27.28 192.08-27.28 192.08-27.28 192-27.36 192.08-27.52 193.12-27.28 193.28-27.36ZM216.16-17.44C214.8-16 213.6-14.48 212.4-12.88L208.56-8.24C199.28 3.76 200.32-0.96 203.68-12.64 204.72-16.4 206.88-17.84 203.28-19.28 199.92-20.56 199.2-19.12 198.48-16.4 197.12-11.36 195.28-4.4 198.16 0.32 199.76 2.8 202.72 1.6 205.04-0.64 209.44-4.72 215.52-14.56 216.8-16.72 217.04-17.2 217.2-16.96 216.16-17.44ZM204.72-22.16C205.6-23.84 206.16-24.24 207.12-25.68 208.48-27.76 207.6-29.44 205.36-29.68L204.96-29.6C203.76-29.12 203.36-23.28 203.28-22 203.2-20.72 204.32-21.44 204.72-22.16ZM200.88-13.76C200.72-12.8 198.56-8.08 199.12-4.96 199.28-4.48 199.04-4.4 198.96-4.48 197.6-5.52 199.52-11.68 200.08-12.96 200.24-13.28 200.96-14.48 200.88-13.76ZM251.84-0.64C252.4-5.44 253.6-8.56 255.12-12.88 256.4-16.48 259.44-21.92 259.36-25.76 259.36-28.32 256.88-30.24 254.48-30.08 251.44-29.76 245.12-21.2 243.28-18.64 242.8-17.92 242.16-16.32 241.28-16.56 249.36-36.56 229.28-22.08 225.84-21.92 224.08-21.84 224-21.6 224.32-22.4 224.96-24.24 220.88-27.44 217.68-22.96 214.4-18.24 212.64-12.24 213.68-6 214.24-3.2 217.12 2.16 220.64 0.96 225.2-1.04 227.6-6.56 228.72-11.2 229.44-14.16 229.68-15.44 228.64-18.56 230.96-19.92 232.56-20.4 235.04-21.36 236.96-22.08 237.6-22.72 236.48-20.96 234.48-17.52 233.92-13.36 233.12-9.44 232.08-4.08 234.64-1.84 238.8-5.36 239.04-5.6 240.32-7.28 240.32-7.28 241.84-9.36 243.44-11.36 245.04-13.44 247.2-16.32 248.96-19.44 251.12-22.24 252.8-24.56 252.08-23.28 251.68-21.6 250.16-15.52 247.6-7.84 247.76-1.44 248 1.52 249.04 4.24 252.08 5.92 254.08 7.04 256.64 3.76 255.12 2.24 252.24 4.08 251.68 1.36 251.84-0.64ZM219.12-3.04C218-1.36 216.88-2.8 216.8-3.92 216.8-4.72 216.72-5.44 216.8-6.16 216.88-10.8 219.68-17.92 223.04-20.8 224.48-19.76 224.88-18.72 224.96-17.04 225.2-11.68 221.68-7.04 219.12-3.04ZM223.04-4.48L222.88-4.56C223.2-5.76 224.32-8.32 224.88-9.52 226.32-12.8 226.24-13.2 226.88-16.64 227.12-17.68 226.8-17.84 227.44-17.68 229.68-17.12 224.32-5.36 223.04-4.48ZM244.64-16C243.76-14.8 241.36-10.8 240.32-10.24 239.68-9.92 242.08-13.04 242.24-13.2 249.28-22.96 257.28-33.04 244.64-16ZM249.28-3.12L249.2-2.72C249.28-5.2 250.16-10 250.88-12.4 251.52-14.56 253.76-21.12 252.08-15.04 250.88-10.88 250.16-7.44 249.28-3.12ZM234.72-8.64L234.4-8.88 235.28-12C235.36-12.32 235.44-13.2 235.6-13.36 236.24-12.64 234.96-9.44 234.72-8.64Z" transform="translate(7.202885627746582, 36.50486755371094)"/></g> <!----> <!----> <!----> <!----> <!----> <!----> <!----></g></g></g></g></g></mask><defs v-gra="od"/></svg>
            </div>
     
         </div>
        <div class="content">
            <div id="home">
                Home
            </div>
            <script>
                document.getElementById('home').addEventListener('click', () => {
                     location.replace('/')
                 });
           </script>
            <div id="auction" style=" background: linear-gradient(90deg, #7b54f2, #ff667e, #ffab6f);
            -webkit-background-clip: text;
            color: transparent; 
          ">
                Auction Center
            </div>
            <script>
                document.getElementById('auction').addEventListener('click', () => {
                     location.replace('/user/auction')
                 });
           </script>
            <div id="profile">
                Profile
            </div>
            <script>
                document.getElementById('profile').addEventListener('click', () => {
                     location.replace('/user/profile')
                 });
           </script>
        </div>
        <div class="loginBox">
            <div class="menu">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <g clip-path="url(#clip0_2_25)">
                      <path d="M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15Z" stroke="#CF9595" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M19.4 15C19.2669 15.3016 19.2272 15.6362 19.286 15.9606C19.3448 16.285 19.4995 16.5843 19.73 16.82L19.79 16.88C19.976 17.0657 20.1235 17.2863 20.2241 17.5291C20.3248 17.7719 20.3766 18.0322 20.3766 18.295C20.3766 18.5578 20.3248 18.8181 20.2241 19.0609C20.1235 19.3037 19.976 19.5243 19.79 19.71C19.6043 19.896 19.3837 20.0435 19.1409 20.1441C18.8981 20.2448 18.6378 20.2966 18.375 20.2966C18.1122 20.2966 17.8519 20.2448 17.6091 20.1441C17.3663 20.0435 17.1457 19.896 16.96 19.71L16.9 19.65C16.6643 19.4195 16.365 19.2648 16.0406 19.206C15.7162 19.1472 15.3816 19.1869 15.08 19.32C14.7842 19.4468 14.532 19.6572 14.3543 19.9255C14.1766 20.1938 14.0813 20.5082 14.08 20.83V21C14.08 21.5304 13.8693 22.0391 13.4942 22.4142C13.1191 22.7893 12.6104 23 12.08 23C11.5496 23 11.0409 22.7893 10.6658 22.4142C10.2907 22.0391 10.08 21.5304 10.08 21V20.91C10.0723 20.579 9.96512 20.258 9.77251 19.9887C9.5799 19.7194 9.31074 19.5143 9 19.4C8.69838 19.2669 8.36381 19.2272 8.03941 19.286C7.71502 19.3448 7.41568 19.4995 7.18 19.73L7.12 19.79C6.93425 19.976 6.71368 20.1235 6.47088 20.2241C6.22808 20.3248 5.96783 20.3766 5.705 20.3766C5.44217 20.3766 5.18192 20.3248 4.93912 20.2241C4.69632 20.1235 4.47575 19.976 4.29 19.79C4.10405 19.6043 3.95653 19.3837 3.85588 19.1409C3.75523 18.8981 3.70343 18.6378 3.70343 18.375C3.70343 18.1122 3.75523 17.8519 3.85588 17.6091C3.95653 17.3663 4.10405 17.1457 4.29 16.96L4.35 16.9C4.58054 16.6643 4.73519 16.365 4.794 16.0406C4.85282 15.7162 4.81312 15.3816 4.68 15.08C4.55324 14.7842 4.34276 14.532 4.07447 14.3543C3.80618 14.1766 3.49179 14.0813 3.17 14.08H3C2.46957 14.08 1.96086 13.8693 1.58579 13.4942C1.21071 13.1191 1 12.6104 1 12.08C1 11.5496 1.21071 11.0409 1.58579 10.6658C1.96086 10.2907 2.46957 10.08 3 10.08H3.09C3.42099 10.0723 3.742 9.96512 4.0113 9.77251C4.28059 9.5799 4.48572 9.31074 4.6 9C4.73312 8.69838 4.77282 8.36381 4.714 8.03941C4.65519 7.71502 4.50054 7.41568 4.27 7.18L4.21 7.12C4.02405 6.93425 3.87653 6.71368 3.77588 6.47088C3.67523 6.22808 3.62343 5.96783 3.62343 5.705C3.62343 5.44217 3.67523 5.18192 3.77588 4.93912C3.87653 4.69632 4.02405 4.47575 4.21 4.29C4.39575 4.10405 4.61632 3.95653 4.85912 3.85588C5.10192 3.75523 5.36217 3.70343 5.625 3.70343C5.88783 3.70343 6.14808 3.75523 6.39088 3.85588C6.63368 3.95653 6.85425 4.10405 7.04 4.29L7.1 4.35C7.33568 4.58054 7.63502 4.73519 7.95941 4.794C8.28381 4.85282 8.61838 4.81312 8.92 4.68H9C9.29577 4.55324 9.54802 4.34276 9.72569 4.07447C9.90337 3.80618 9.99872 3.49179 10 3.17V3C10 2.46957 10.2107 1.96086 10.5858 1.58579C10.9609 1.21071 11.4696 1 12 1C12.5304 1 13.0391 1.21071 13.4142 1.58579C13.7893 1.96086 14 2.46957 14 3V3.09C14.0013 3.41179 14.0966 3.72618 14.2743 3.99447C14.452 4.26276 14.7042 4.47324 15 4.6C15.3016 4.73312 15.6362 4.77282 15.9606 4.714C16.285 4.65519 16.5843 4.50054 16.82 4.27L16.88 4.21C17.0657 4.02405 17.2863 3.87653 17.5291 3.77588C17.7719 3.67523 18.0322 3.62343 18.295 3.62343C18.5578 3.62343 18.8181 3.67523 19.0609 3.77588C19.3037 3.87653 19.5243 4.02405 19.71 4.21C19.896 4.39575 20.0435 4.61632 20.1441 4.85912C20.2448 5.10192 20.2966 5.36217 20.2966 5.625C20.2966 5.88783 20.2448 6.14808 20.1441 6.39088C20.0435 6.63368 19.896 6.85425 19.71 7.04L19.65 7.1C19.4195 7.33568 19.2648 7.63502 19.206 7.95941C19.1472 8.28381 19.1869 8.61838 19.32 8.92V9C19.4468 9.29577 19.6572 9.54802 19.9255 9.72569C20.1938 9.90337 20.5082 9.99872 20.83 10H21C21.5304 10 22.0391 10.2107 22.4142 10.5858C22.7893 10.9609 23 11.4696 23 12C23 12.5304 22.7893 13.0391 22.4142 13.4142C22.0391 13.7893 21.5304 14 21 14H20.91C20.5882 14.0013 20.2738 14.0966 20.0055 14.2743C19.7372 14.452 19.5268 14.7042 19.4 15Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                      <clipPath id="clip0_2_25">
                        <rect width="24" height="24" fill="white"/>
                      </clipPath>
                    </defs>
                  </svg>
            </div>
            <div class="themeMode">
                <div class="day">
                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-[1.2rem] w-[1.2rem] rotate-0 scale-100 transition-all dark:-rotate-90 dark:scale-0"><path d="M7.5 0C7.77614 0 8 0.223858 8 0.5V2.5C8 2.77614 7.77614 3 7.5 3C7.22386 3 7 2.77614 7 2.5V0.5C7 0.223858 7.22386 0 7.5 0ZM2.1967 2.1967C2.39196 2.00144 2.70854 2.00144 2.90381 2.1967L4.31802 3.61091C4.51328 3.80617 4.51328 4.12276 4.31802 4.31802C4.12276 4.51328 3.80617 4.51328 3.61091 4.31802L2.1967 2.90381C2.00144 2.70854 2.00144 2.39196 2.1967 2.1967ZM0.5 7C0.223858 7 0 7.22386 0 7.5C0 7.77614 0.223858 8 0.5 8H2.5C2.77614 8 3 7.77614 3 7.5C3 7.22386 2.77614 7 2.5 7H0.5ZM2.1967 12.8033C2.00144 12.608 2.00144 12.2915 2.1967 12.0962L3.61091 10.682C3.80617 10.4867 4.12276 10.4867 4.31802 10.682C4.51328 10.8772 4.51328 11.1938 4.31802 11.3891L2.90381 12.8033C2.70854 12.9986 2.39196 12.9986 2.1967 12.8033ZM12.5 7C12.2239 7 12 7.22386 12 7.5C12 7.77614 12.2239 8 12.5 8H14.5C14.7761 8 15 7.77614 15 7.5C15 7.22386 14.7761 7 14.5 7H12.5ZM10.682 4.31802C10.4867 4.12276 10.4867 3.80617 10.682 3.61091L12.0962 2.1967C12.2915 2.00144 12.608 2.00144 12.8033 2.1967C12.9986 2.39196 12.9986 2.70854 12.8033 2.90381L11.3891 4.31802C11.1938 4.51328 10.8772 4.51328 10.682 4.31802ZM8 12.5C8 12.2239 7.77614 12 7.5 12C7.22386 12 7 12.2239 7 12.5V14.5C7 14.7761 7.22386 15 7.5 15C7.77614 15 8 14.7761 8 14.5V12.5ZM10.682 10.682C10.8772 10.4867 11.1938 10.4867 11.3891 10.682L12.8033 12.0962C12.9986 12.2915 12.9986 12.608 12.8033 12.8033C12.608 12.9986 12.2915 12.9986 12.0962 12.8033L10.682 11.3891C10.4867 11.1938 10.4867 10.8772 10.682 10.682ZM5.5 7.5C5.5 6.39543 6.39543 5.5 7.5 5.5C8.60457 5.5 9.5 6.39543 9.5 7.5C9.5 8.60457 8.60457 9.5 7.5 9.5C6.39543 9.5 5.5 8.60457 5.5 7.5ZM7.5 4.5C5.84315 4.5 4.5 5.84315 4.5 7.5C4.5 9.15685 5.84315 10.5 7.5 10.5C9.15685 10.5 10.5 9.15685 10.5 7.5C10.5 5.84315 9.15685 4.5 7.5 4.5Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"/></svg>
                </div>
                <div class="night">
                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" class="absolute h-[1.2rem] w-[1.2rem] rotate-90 scale-0 transition-all dark:rotate-0 dark:scale-100"><path d="M2.89998 0.499976C2.89998 0.279062 2.72089 0.0999756 2.49998 0.0999756C2.27906 0.0999756 2.09998 0.279062 2.09998 0.499976V1.09998H1.49998C1.27906 1.09998 1.09998 1.27906 1.09998 1.49998C1.09998 1.72089 1.27906 1.89998 1.49998 1.89998H2.09998V2.49998C2.09998 2.72089 2.27906 2.89998 2.49998 2.89998C2.72089 2.89998 2.89998 2.72089 2.89998 2.49998V1.89998H3.49998C3.72089 1.89998 3.89998 1.72089 3.89998 1.49998C3.89998 1.27906 3.72089 1.09998 3.49998 1.09998H2.89998V0.499976ZM5.89998 3.49998C5.89998 3.27906 5.72089 3.09998 5.49998 3.09998C5.27906 3.09998 5.09998 3.27906 5.09998 3.49998V4.09998H4.49998C4.27906 4.09998 4.09998 4.27906 4.09998 4.49998C4.09998 4.72089 4.27906 4.89998 4.49998 4.89998H5.09998V5.49998C5.09998 5.72089 5.27906 5.89998 5.49998 5.89998C5.72089 5.89998 5.89998 5.72089 5.89998 5.49998V4.89998H6.49998C6.72089 4.89998 6.89998 4.72089 6.89998 4.49998C6.89998 4.27906 6.72089 4.09998 6.49998 4.09998H5.89998V3.49998ZM1.89998 6.49998C1.89998 6.27906 1.72089 6.09998 1.49998 6.09998C1.27906 6.09998 1.09998 6.27906 1.09998 6.49998V7.09998H0.499976C0.279062 7.09998 0.0999756 7.27906 0.0999756 7.49998C0.0999756 7.72089 0.279062 7.89998 0.499976 7.89998H1.09998V8.49998C1.09998 8.72089 1.27906 8.89997 1.49998 8.89997C1.72089 8.89997 1.89998 8.72089 1.89998 8.49998V7.89998H2.49998C2.72089 7.89998 2.89998 7.72089 2.89998 7.49998C2.89998 7.27906 2.72089 7.09998 2.49998 7.09998H1.89998V6.49998ZM8.54406 0.98184L8.24618 0.941586C8.03275 0.917676 7.90692 1.1655 8.02936 1.34194C8.17013 1.54479 8.29981 1.75592 8.41754 1.97445C8.91878 2.90485 9.20322 3.96932 9.20322 5.10022C9.20322 8.37201 6.82247 11.0878 3.69887 11.6097C3.45736 11.65 3.20988 11.6772 2.96008 11.6906C2.74563 11.702 2.62729 11.9535 2.77721 12.1072C2.84551 12.1773 2.91535 12.2458 2.98667 12.3128L3.05883 12.3795L3.31883 12.6045L3.50684 12.7532L3.62796 12.8433L3.81491 12.9742L3.99079 13.089C4.11175 13.1651 4.23536 13.2375 4.36157 13.3059L4.62496 13.4412L4.88553 13.5607L5.18837 13.6828L5.43169 13.7686C5.56564 13.8128 5.70149 13.8529 5.83857 13.8885C5.94262 13.9155 6.04767 13.9401 6.15405 13.9622C6.27993 13.9883 6.40713 14.0109 6.53544 14.0298L6.85241 14.0685L7.11934 14.0892C7.24637 14.0965 7.37436 14.1002 7.50322 14.1002C11.1483 14.1002 14.1032 11.1453 14.1032 7.50023C14.1032 7.25044 14.0893 7.00389 14.0623 6.76131L14.0255 6.48407C13.991 6.26083 13.9453 6.04129 13.8891 5.82642C13.8213 5.56709 13.7382 5.31398 13.6409 5.06881L13.5279 4.80132L13.4507 4.63542L13.3766 4.48666C13.2178 4.17773 13.0353 3.88295 12.8312 3.60423L12.6782 3.40352L12.4793 3.16432L12.3157 2.98361L12.1961 2.85951L12.0355 2.70246L11.8134 2.50184L11.4925 2.24191L11.2483 2.06498L10.9562 1.87446L10.6346 1.68894L10.3073 1.52378L10.1938 1.47176L9.95488 1.3706L9.67791 1.2669L9.42566 1.1846L9.10075 1.09489L8.83599 1.03486L8.54406 0.98184ZM10.4032 5.30023C10.4032 4.27588 10.2002 3.29829 9.83244 2.40604C11.7623 3.28995 13.1032 5.23862 13.1032 7.50023C13.1032 10.593 10.596 13.1002 7.50322 13.1002C6.63646 13.1002 5.81597 12.9036 5.08355 12.5522C6.5419 12.0941 7.81081 11.2082 8.74322 10.0416C8.87963 10.2284 9.10028 10.3497 9.34928 10.3497C9.76349 10.3497 10.0993 10.0139 10.0993 9.59971C10.0993 9.24256 9.84965 8.94373 9.51535 8.86816C9.57741 8.75165 9.63653 8.63334 9.6926 8.51332C9.88358 8.63163 10.1088 8.69993 10.35 8.69993C11.0403 8.69993 11.6 8.14028 11.6 7.44993C11.6 6.75976 11.0406 6.20024 10.3505 6.19993C10.3853 5.90487 10.4032 5.60464 10.4032 5.30023Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"/></svg>          
                  </div>
            </div>
            <div class="login logout" id="log">
                Logout
            </div>
           <script>
  document.getElementById('log').addEventListener('click', async () => {
    console.log('reached');

    try {
      const response = await fetch('/user/logout', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ logout: 'logout' }),
      });

      if (response.ok) {
        location.replace('/');
      } else {
        console.error('Logout failed:', response.statusText);
      }
    } catch (error) {
      console.error('Logout failed:', error.message);
    }
  });
</script>

            
        </div>
    </nav>
    <div class="dropDown" style="background-image: url('nav.svg');">
        <div class="content">
            <div id="homes">
                Home
            </div>
            <script>
                document.getElementById('homes').addEventListener('click', () => {
                     location.replace('/')
                 });
           </script>
            <div id="auctions" style=" background: linear-gradient(90deg, #7b54f2, #ff667e, #ffab6f);
            -webkit-background-clip: text;
            color: transparent; 
          ">
                Auction Center
            </div>
            <script>
                document.getElementById('auctions').addEventListener('click', () => {
                     location.replace('/user/auction')
                 });
           </script>
            <div id="profiles">
                Profile
            </div>
            <script>
                document.getElementById('profiles').addEventListener('click', () => {
                     location.replace('/user/profile')
                 });
           </script>
        </div>
       
    </div>
    
    

    
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const element = document.body;
            const themeToggle = document.querySelector('.themeMode');
            const menu = document.querySelector('nav .loginBox .menu');
            const login = document.querySelector('nav .loginBox .login');
            const isDarkMode = localStorage.getItem('theme') === 'true';
            if (isDarkMode) {
                element.classList.add('darkMode');
            }
             
            menu.addEventListener('click', () => {
                const dropDown = document.querySelector('.dropDown')
                console.log(dropDown.classList,'dropdownfreurgir');
                dropDown.classList.toggle('visible');
            });
    
            login.addEventListener('click', () => {
                const dropDown = document.querySelector('.loginDropDown')
                console.log(dropDown.classList,'dropdownfreurgir');
                dropDown.classList.toggle('visible');
            });
           
            themeToggle.addEventListener('click', () => {
                element.classList.toggle('darkMode');
                const isDarkModeNow = element.classList.contains('darkMode');
                localStorage.setItem('theme', isDarkModeNow.toString());
            });
    
    
        });

    </script>

<% } else { %>
    <nav style="background-image: url('nav.svg');">
        <div class="">
 
            <div style="display: flex;overflow: hidden; width: 200px;height: 50px; background-color: none;">
             <svg data-v-0dd9719b="" version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"   width="100%" height="100%" viewBox="0 0 340.000000 250.000000" preserveAspectRatio="xMidYMid meet" color-interpolation-filters="sRGB"  style="transform: scale(3);">
                   <g data-v-0dd9719b="" fill="#34435c" class="pmspacesvg" transform="translate(36.71778869628906,87.4380111694336)">
                     <!----> <g>
                         <g mask="url(#37c725cc-3556-42c7-9348-a7725145e63c)" transform="translate(0,0)"><g><rect data-gra="graph-name" fill="#FFCC66" x="0" y="46.64175844192505" width="266.5644226074219" height="13.326216697692871"/>
                         </g> <g data-gra="path-name" fill-rule="" class="tp-name" fill="#34435c" transform="translate(0,0)"><g transform="scale(1)"><g><path d="M6.32-13.92C6-13.84 5.12-13.28 4.88-13.28 3.92-13.2 3.92-14 4.24-14.96 6.56-22.32 9.76-17.28 11.92-18.64 12.96-19.28 12.96-22.64 12.16-23.44 9.92-25.92 2.32-21.92 0.96-19.28-1.84-13.84 1.6-13.6 2.64-11.76 1.6-11.04 0.24-9.68-0.56-8.88-2.08-7.36-3.12-5.76-4.48-4.16-5.68-2.72-7.28 1.44-7.2 3.12-7.12 4.4-5.36 8.16-2.96 8.48 0.64 8.96 13.28-3.44 7.28-11.68 8.8-12.96 16.48-14.72 18.32-14.8 18.64-14.8 18.72-15.84 18.88-16.08 15.12-15.92 11.28-15.68 6.32-13.92ZM-0.88 3.84C0.08 2.8 1.36 1.44 2.72-0.16 1.92 2.4 0.56 3.68-0.88 3.84ZM5.04-7.44C4.08-5.76 3.04-4.16 2-2.56 1.28-1.44 0.48-0.48-0.32 0.56-0.88 1.2-2.32 4.08-3.28 3.6-3.68 0.24 1.28-7.52 4.88-9.68 5.84-8.96 5.44-8.16 5.04-7.44ZM35.28-20.24C34.72-22.32 31.92-22.88 29.6-23.44 24.96-24.64 24-18.24 22.72-14.72 22.72-15.04 22.72-15.28 22.64-15.6L23.6-20.64 23.52-21.36C22.56-22.88 18.16-27.52 17.76-22.24 16.56-16.24 16.96-12.48 15.28-4.56 15.28-4.48 14.48 2.16 14.48 2.24L14.4 2.72C14.32 2.96 14.24 3.2 14.24 3.36 13.04 8.24 12.56 12 11.84 13.36 11.76 13.36 11.6 13.28 11.44 13.12 10.88 12.48 8.32 9.76 5.6 11.92L5.36 12.24C5.12 12.64 5.12 13.52 5.44 13.68 6.16 13.68 6.08 12.24 7.68 13.12 10.72 14.96 9.28 15.2 11.76 16.8 12.48 16.8 13.28 16.56 14.08 15.76 17.12 13.04 19.44 4.8 21.2-3.04L22-2.8C30.8 0.48 37.84-11.44 35.28-20.24ZM28.4-9.52C27.68-8.8 27.84-8.4 27.12-7.68 26.64-7.12 25.44-6.16 24.8-5.84 24.56-5.68 22.4-5.6 21.92-5.68L22.16-6.64C23.84-10.48 24.88-14.56 26.56-18.4 26.72-18.88 27.92-20.32 28-20.72 28-21.6 29.76-20.48 30.24-20.16 30.56-19.84 30.96-19.44 30.96-19.04 31.12-15.76 31.04-12.4 28.4-9.52ZM15.44 10.32C15.28 10.4 15.12 10.24 15.44 9.76 16.32 8.24 15.84 7.12 16.32 4.4L16.96 4.56C16.32 7.92 16.4 9.92 15.44 10.32ZM23.76-14.96C24.64-16.64 24.4-16.64 25.04-18.48 25.04-18.56 25.12-18.56 25.12-18.64L25.44-18.64C25.44-18.56 25.52-18.4 25.44-18.32 25.44-18.24 25.36-18.16 25.36-18.08 25.36-18 25.28-17.84 25.2-17.36 24.96-16.48 24.56-15.6 24.32-14.88L23.92-14.56C23.84-14.72 23.68-14.88 23.76-14.96ZM9.68 13.92C9.52 13.44 9.28 13.04 8.96 12.64 8.96 12.56 9.04 12.32 9.04 12.16 9.2 12.24 9.2 12.48 9.28 12.56 9.6 12.96 9.76 13.36 9.92 13.68ZM18.64-8C18.64-8.08 18.64-8.16 18.72-8.24 18.8-8.72 18.96-8.4 19.04-8ZM56.4-17.44C55.04-16 53.84-14.48 52.64-12.88L48.8-8.24C39.52 3.76 40.56-0.96 43.92-12.64 44.96-16.4 47.12-17.84 43.52-19.28 40.16-20.56 39.44-19.12 38.72-16.4 37.36-11.36 35.52-4.4 38.4 0.32 40 2.8 42.96 1.6 45.28-0.64 49.68-4.72 55.76-14.56 57.04-16.72 57.28-17.2 57.44-16.96 56.4-17.44ZM44.96-22.16C45.84-23.84 46.4-24.24 47.36-25.68 48.72-27.76 47.84-29.44 45.6-29.68L45.2-29.6C44-29.12 43.6-23.28 43.52-22 43.44-20.72 44.56-21.44 44.96-22.16ZM41.12-13.76C40.96-12.8 38.8-8.08 39.36-4.96 39.52-4.48 39.28-4.4 39.2-4.48 37.84-5.52 39.76-11.68 40.32-12.96 40.48-13.28 41.2-14.48 41.12-13.76ZM76.56-16.88C72.64-13.68 70.56-10.4 67.44-7.36 49.36 10.32 57.68-17.76 65.6-20.48 65.84-20.16 66-19.76 66.16-19.44L66.8-19.44C67.6-19.04 68.4-19.04 68.88-19.84 69.36-20.64 69.2-21.52 68.72-22.48 65.2-29.44 59.12-23.84 56.8-20.16 53.84-15.52 53.2-11.92 53.84-5.92 54.32-1.04 57.76 3.6 62.88-0.24 67.68-3.84 75.44-14.24 77.04-16 77.44-16.48 77.52-16.24 76.56-16.88ZM59.2-20.88C58.72-19.6 57.52-18.56 57.04-17.36 56.88-18.88 58.72-20.8 59.2-20.88ZM98.64-17.12L97.92-16.56C94-12.88 90.96-9.36 86.08-5.84 84.8-4.48 82.72-4.08 81.04-3.6 78.56-2.88 76.24-3.12 76.4-6.56 76.48-6.96 76.32-7.28 76.4-7.68 76.64-8.8 76.48-10.16 77.28-11.2L78.8-10.8C82.72-9.6 93.12-21.2 86.24-25.6 84.08-26.96 81.92-26.88 80.16-25.04 79.36-24.24 78.56-23.28 78-22.24 76.8-20.16 75.76-18 74.64-15.84L73.76-12.4C73.76-12.08 73.76-11.68 73.68-11.36 73.28-9.12 73.44-6.96 74-4.72 75.04-1.28 78.8 1.76 83.28 0.16 85.28-0.56 86.88-1.84 88.32-3.28 90.72-5.6 92.88-8.32 95.04-10.96 96.24-12.4 97.68-13.84 98.72-15.36 99.12-15.92 99.2-16.16 99.28-16.32 99.44-16.48 99.28-16.64 98.64-17.12ZM84.24-23.2C84.4-20.56 81.52-16.48 78.56-15.36 79.6-18.32 82.32-22.08 84.24-23.2ZM88.08-4.8C91.12-8.08 93.12-10.96 96.4-14.24 93.44-10.88 91.76-7.44 88.08-4.8ZM138.4-17.2C135.12-13.68 131.76-5.92 128.16-2.4 125.92-0.24 125.28-1.12 125.36-3.36 125.52-8.16 129.2-19.04 129.28-19.28 129.44-19.92 128.4-20.4 127.68-20.88 124.56-22.64 123.6-20.72 122.88-18L122.8-17.76C122.16-18.08 121.52-18.64 121.04-19.04 118.64-21.12 113.44-21.76 112-19.44L111.2-18.24C108.64-14.64 106.56-11.68 107.04-6.48 107.28-4.16 108.56-2.4 110.56-0.96 111.36-0.4 112.48-0.16 113.44 0 115.52 0.4 119.12-8.4 120.24-9.92 120.32-9.92 120.48-10.24 120.8-10.72 120.08-7.52 119.92-4.24 121.52-1.6 123.12 0.96 126.64 2.64 128.96 0.48 133.28-3.6 137.76-14.24 139.04-16.4 139.28-16.88 139.44-16.64 138.4-17.2ZM112.08-5.68C111.84-5.28 111.6-4.88 111.52-4.48 111.36-3.6 110.88-4.08 110.56-4.56 110.24-4.96 110-5.52 110.08-5.92 110.4-9.36 111.04-12.64 114-14.56 114.72-15.12 115.2-15.92 116-16.4 116.48-16.8 117.2-16.88 117.92-17.04 118.16-17.04 118.48-16.72 118.96-16.48 118.8-16.16 118.72-15.84 118.56-15.68ZM120.48-14.16C119.36-12.8 117.92-9.84 117.04-8.16 116.96-8.16 116.96-8.08 116.88-8.08 116.8-8.08 116.64-8.16 116.64-8.24 116.56-8.32 116.56-8.48 116.64-8.56 117.28-9.36 118.08-10.72 118.72-12.24 119.04-13.12 119.52-13.84 119.92-14.4 120-14.56 120.24-14.56 120.32-14.64 120.4-14.48 120.48-14.24 120.48-14.16ZM163.68-16.64C160.8-11.6 154.8-1.52 153.68-2.08 152.48-2.64 153.44-5.84 154.8-13.68 155.6-18.56 158.16-20.08 155.2-21.2 151.84-22.4 151.12-20.96 150.24-17.84 149.6-15.6 149.76-15.76 148.72-13.6 145.84-8.56 142.64-2.96 141.52-3.52 140.32-4.16 140.4-4.96 141.76-12.72 142.56-17.68 145.12-19.12 142.16-20.24 138.8-21.52 138.08-20.08 137.2-16.88 135.6-11.04 134.72-6.72 137.36-1.2 138.24 0.56 139.6 0.72 141.04 0.16 144.64-1.36 146.88-6.24 149.28-11.36 148.88-7.44 148.96-3.68 150.16-1.2 151.04 0.56 152.4 0.72 153.84 0.16 158.08-1.6 161.12-10.08 164.48-16.4 164.4-17.04 164.4-17.28 163.68-16.64ZM139.92-14.16C139.68-13.04 138.24-11.04 138.64-7.36 138.72-6.8 138.48-6.72 138.4-6.8 137.12-8.08 138.32-11.68 139.04-13.2 139.2-13.6 140-14.96 139.92-14.16ZM185.04-16.88C181.12-13.68 179.04-10.4 175.92-7.36 157.84 10.32 166.16-17.76 174.08-20.48 174.32-20.16 174.48-19.76 174.64-19.44L175.28-19.44C176.08-19.04 176.88-19.04 177.36-19.84 177.84-20.64 177.68-21.52 177.2-22.48 173.68-29.44 167.6-23.84 165.28-20.16 162.32-15.52 161.68-11.92 162.32-5.92 162.8-1.04 166.24 3.6 171.36-0.24 176.16-3.84 183.92-14.24 185.52-16 185.92-16.48 186-16.24 185.04-16.88ZM167.68-20.88C167.2-19.6 166-18.56 165.52-17.36 165.36-18.88 167.2-20.8 167.68-20.88ZM199.28-16.48C196.24-12.96 193.12-5.28 189.68-1.68 187.6 0.48 186.88-0.4 186.88-2.64 186.8-7.12 189.76-18.24 191.92-26.24L192.56-26.08C196.08-25.36 200.24-24.72 202.24-25.84 202-26.56 201.12-28.48 200.8-28.08 200.24-27.36 196.48-27.84 192.48-28.56 193.04-30.56 193.44-32.16 193.68-33.36 194.24-35.68 192.72-36 190-36.48 189.28-36.64 188.08-36 187.92-35.36 187.6-33.92 187.04-32 186.4-29.76 183.52-30.32 175.92-31.2 177.52-25.76L177.76-25.28C178-24.8 178.8-24.16 178.96-24.4 179.12-25.12 177.92-26 179.04-26.88 180.8-28.24 182.08-28.08 185.76-27.44 184.96-24.48 184.08-20.96 183.28-17.28L182.56-12.72C182.24-10.56 181.84-7.36 182.08-4.64 182.56 0.48 184.4 2.72 186 2.96 190.72 3.84 198-12.16 200-15.68 200.24-16.16 200.32-15.92 199.28-16.48ZM193.28-27.36L199.28-26.56C197.36-26.72 192.16-27.28 192.16-27.28 192.08-27.28 192.08-27.28 192-27.36 192.08-27.52 193.12-27.28 193.28-27.36ZM216.16-17.44C214.8-16 213.6-14.48 212.4-12.88L208.56-8.24C199.28 3.76 200.32-0.96 203.68-12.64 204.72-16.4 206.88-17.84 203.28-19.28 199.92-20.56 199.2-19.12 198.48-16.4 197.12-11.36 195.28-4.4 198.16 0.32 199.76 2.8 202.72 1.6 205.04-0.64 209.44-4.72 215.52-14.56 216.8-16.72 217.04-17.2 217.2-16.96 216.16-17.44ZM204.72-22.16C205.6-23.84 206.16-24.24 207.12-25.68 208.48-27.76 207.6-29.44 205.36-29.68L204.96-29.6C203.76-29.12 203.36-23.28 203.28-22 203.2-20.72 204.32-21.44 204.72-22.16ZM200.88-13.76C200.72-12.8 198.56-8.08 199.12-4.96 199.28-4.48 199.04-4.4 198.96-4.48 197.6-5.52 199.52-11.68 200.08-12.96 200.24-13.28 200.96-14.48 200.88-13.76ZM251.84-0.64C252.4-5.44 253.6-8.56 255.12-12.88 256.4-16.48 259.44-21.92 259.36-25.76 259.36-28.32 256.88-30.24 254.48-30.08 251.44-29.76 245.12-21.2 243.28-18.64 242.8-17.92 242.16-16.32 241.28-16.56 249.36-36.56 229.28-22.08 225.84-21.92 224.08-21.84 224-21.6 224.32-22.4 224.96-24.24 220.88-27.44 217.68-22.96 214.4-18.24 212.64-12.24 213.68-6 214.24-3.2 217.12 2.16 220.64 0.96 225.2-1.04 227.6-6.56 228.72-11.2 229.44-14.16 229.68-15.44 228.64-18.56 230.96-19.92 232.56-20.4 235.04-21.36 236.96-22.08 237.6-22.72 236.48-20.96 234.48-17.52 233.92-13.36 233.12-9.44 232.08-4.08 234.64-1.84 238.8-5.36 239.04-5.6 240.32-7.28 240.32-7.28 241.84-9.36 243.44-11.36 245.04-13.44 247.2-16.32 248.96-19.44 251.12-22.24 252.8-24.56 252.08-23.28 251.68-21.6 250.16-15.52 247.6-7.84 247.76-1.44 248 1.52 249.04 4.24 252.08 5.92 254.08 7.04 256.64 3.76 255.12 2.24 252.24 4.08 251.68 1.36 251.84-0.64ZM219.12-3.04C218-1.36 216.88-2.8 216.8-3.92 216.8-4.72 216.72-5.44 216.8-6.16 216.88-10.8 219.68-17.92 223.04-20.8 224.48-19.76 224.88-18.72 224.96-17.04 225.2-11.68 221.68-7.04 219.12-3.04ZM223.04-4.48L222.88-4.56C223.2-5.76 224.32-8.32 224.88-9.52 226.32-12.8 226.24-13.2 226.88-16.64 227.12-17.68 226.8-17.84 227.44-17.68 229.68-17.12 224.32-5.36 223.04-4.48ZM244.64-16C243.76-14.8 241.36-10.8 240.32-10.24 239.68-9.92 242.08-13.04 242.24-13.2 249.28-22.96 257.28-33.04 244.64-16ZM249.28-3.12L249.2-2.72C249.28-5.2 250.16-10 250.88-12.4 251.52-14.56 253.76-21.12 252.08-15.04 250.88-10.88 250.16-7.44 249.28-3.12ZM234.72-8.64L234.4-8.88 235.28-12C235.36-12.32 235.44-13.2 235.6-13.36 236.24-12.64 234.96-9.44 234.72-8.64Z" transform="translate(7.202885627746582, 36.50486755371094)"/></g> <!----> <!----> <!----> <!----> <!----> <!----> <!----></g></g></g></g></g></mask><defs v-gra="od"/></svg>
            </div>
     
         </div>
        <div class="content">
            <div id="home">
                Home
            </div>
            <script>
                document.getElementById('home').addEventListener('click', () => {
                     location.replace('/')
                 });
           </script>
     
            <div id="Dashboard">
                Dashboard
            </div>
            <script>
                document.getElementById('Dashboard').addEventListener('click', () => {
                     location.replace('/company/profile')
                 });
           </script>
        </div>
        <div class="loginBox">
            <div class="menu">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <g clip-path="url(#clip0_2_25)">
                      <path d="M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15Z" stroke="#CF9595" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M19.4 15C19.2669 15.3016 19.2272 15.6362 19.286 15.9606C19.3448 16.285 19.4995 16.5843 19.73 16.82L19.79 16.88C19.976 17.0657 20.1235 17.2863 20.2241 17.5291C20.3248 17.7719 20.3766 18.0322 20.3766 18.295C20.3766 18.5578 20.3248 18.8181 20.2241 19.0609C20.1235 19.3037 19.976 19.5243 19.79 19.71C19.6043 19.896 19.3837 20.0435 19.1409 20.1441C18.8981 20.2448 18.6378 20.2966 18.375 20.2966C18.1122 20.2966 17.8519 20.2448 17.6091 20.1441C17.3663 20.0435 17.1457 19.896 16.96 19.71L16.9 19.65C16.6643 19.4195 16.365 19.2648 16.0406 19.206C15.7162 19.1472 15.3816 19.1869 15.08 19.32C14.7842 19.4468 14.532 19.6572 14.3543 19.9255C14.1766 20.1938 14.0813 20.5082 14.08 20.83V21C14.08 21.5304 13.8693 22.0391 13.4942 22.4142C13.1191 22.7893 12.6104 23 12.08 23C11.5496 23 11.0409 22.7893 10.6658 22.4142C10.2907 22.0391 10.08 21.5304 10.08 21V20.91C10.0723 20.579 9.96512 20.258 9.77251 19.9887C9.5799 19.7194 9.31074 19.5143 9 19.4C8.69838 19.2669 8.36381 19.2272 8.03941 19.286C7.71502 19.3448 7.41568 19.4995 7.18 19.73L7.12 19.79C6.93425 19.976 6.71368 20.1235 6.47088 20.2241C6.22808 20.3248 5.96783 20.3766 5.705 20.3766C5.44217 20.3766 5.18192 20.3248 4.93912 20.2241C4.69632 20.1235 4.47575 19.976 4.29 19.79C4.10405 19.6043 3.95653 19.3837 3.85588 19.1409C3.75523 18.8981 3.70343 18.6378 3.70343 18.375C3.70343 18.1122 3.75523 17.8519 3.85588 17.6091C3.95653 17.3663 4.10405 17.1457 4.29 16.96L4.35 16.9C4.58054 16.6643 4.73519 16.365 4.794 16.0406C4.85282 15.7162 4.81312 15.3816 4.68 15.08C4.55324 14.7842 4.34276 14.532 4.07447 14.3543C3.80618 14.1766 3.49179 14.0813 3.17 14.08H3C2.46957 14.08 1.96086 13.8693 1.58579 13.4942C1.21071 13.1191 1 12.6104 1 12.08C1 11.5496 1.21071 11.0409 1.58579 10.6658C1.96086 10.2907 2.46957 10.08 3 10.08H3.09C3.42099 10.0723 3.742 9.96512 4.0113 9.77251C4.28059 9.5799 4.48572 9.31074 4.6 9C4.73312 8.69838 4.77282 8.36381 4.714 8.03941C4.65519 7.71502 4.50054 7.41568 4.27 7.18L4.21 7.12C4.02405 6.93425 3.87653 6.71368 3.77588 6.47088C3.67523 6.22808 3.62343 5.96783 3.62343 5.705C3.62343 5.44217 3.67523 5.18192 3.77588 4.93912C3.87653 4.69632 4.02405 4.47575 4.21 4.29C4.39575 4.10405 4.61632 3.95653 4.85912 3.85588C5.10192 3.75523 5.36217 3.70343 5.625 3.70343C5.88783 3.70343 6.14808 3.75523 6.39088 3.85588C6.63368 3.95653 6.85425 4.10405 7.04 4.29L7.1 4.35C7.33568 4.58054 7.63502 4.73519 7.95941 4.794C8.28381 4.85282 8.61838 4.81312 8.92 4.68H9C9.29577 4.55324 9.54802 4.34276 9.72569 4.07447C9.90337 3.80618 9.99872 3.49179 10 3.17V3C10 2.46957 10.2107 1.96086 10.5858 1.58579C10.9609 1.21071 11.4696 1 12 1C12.5304 1 13.0391 1.21071 13.4142 1.58579C13.7893 1.96086 14 2.46957 14 3V3.09C14.0013 3.41179 14.0966 3.72618 14.2743 3.99447C14.452 4.26276 14.7042 4.47324 15 4.6C15.3016 4.73312 15.6362 4.77282 15.9606 4.714C16.285 4.65519 16.5843 4.50054 16.82 4.27L16.88 4.21C17.0657 4.02405 17.2863 3.87653 17.5291 3.77588C17.7719 3.67523 18.0322 3.62343 18.295 3.62343C18.5578 3.62343 18.8181 3.67523 19.0609 3.77588C19.3037 3.87653 19.5243 4.02405 19.71 4.21C19.896 4.39575 20.0435 4.61632 20.1441 4.85912C20.2448 5.10192 20.2966 5.36217 20.2966 5.625C20.2966 5.88783 20.2448 6.14808 20.1441 6.39088C20.0435 6.63368 19.896 6.85425 19.71 7.04L19.65 7.1C19.4195 7.33568 19.2648 7.63502 19.206 7.95941C19.1472 8.28381 19.1869 8.61838 19.32 8.92V9C19.4468 9.29577 19.6572 9.54802 19.9255 9.72569C20.1938 9.90337 20.5082 9.99872 20.83 10H21C21.5304 10 22.0391 10.2107 22.4142 10.5858C22.7893 10.9609 23 11.4696 23 12C23 12.5304 22.7893 13.0391 22.4142 13.4142C22.0391 13.7893 21.5304 14 21 14H20.91C20.5882 14.0013 20.2738 14.0966 20.0055 14.2743C19.7372 14.452 19.5268 14.7042 19.4 15Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                      <clipPath id="clip0_2_25">
                        <rect width="24" height="24" fill="white"/>
                      </clipPath>
                    </defs>
                  </svg>
            </div>
            <div class="themeMode">
                <div class="day">
                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-[1.2rem] w-[1.2rem] rotate-0 scale-100 transition-all dark:-rotate-90 dark:scale-0"><path d="M7.5 0C7.77614 0 8 0.223858 8 0.5V2.5C8 2.77614 7.77614 3 7.5 3C7.22386 3 7 2.77614 7 2.5V0.5C7 0.223858 7.22386 0 7.5 0ZM2.1967 2.1967C2.39196 2.00144 2.70854 2.00144 2.90381 2.1967L4.31802 3.61091C4.51328 3.80617 4.51328 4.12276 4.31802 4.31802C4.12276 4.51328 3.80617 4.51328 3.61091 4.31802L2.1967 2.90381C2.00144 2.70854 2.00144 2.39196 2.1967 2.1967ZM0.5 7C0.223858 7 0 7.22386 0 7.5C0 7.77614 0.223858 8 0.5 8H2.5C2.77614 8 3 7.77614 3 7.5C3 7.22386 2.77614 7 2.5 7H0.5ZM2.1967 12.8033C2.00144 12.608 2.00144 12.2915 2.1967 12.0962L3.61091 10.682C3.80617 10.4867 4.12276 10.4867 4.31802 10.682C4.51328 10.8772 4.51328 11.1938 4.31802 11.3891L2.90381 12.8033C2.70854 12.9986 2.39196 12.9986 2.1967 12.8033ZM12.5 7C12.2239 7 12 7.22386 12 7.5C12 7.77614 12.2239 8 12.5 8H14.5C14.7761 8 15 7.77614 15 7.5C15 7.22386 14.7761 7 14.5 7H12.5ZM10.682 4.31802C10.4867 4.12276 10.4867 3.80617 10.682 3.61091L12.0962 2.1967C12.2915 2.00144 12.608 2.00144 12.8033 2.1967C12.9986 2.39196 12.9986 2.70854 12.8033 2.90381L11.3891 4.31802C11.1938 4.51328 10.8772 4.51328 10.682 4.31802ZM8 12.5C8 12.2239 7.77614 12 7.5 12C7.22386 12 7 12.2239 7 12.5V14.5C7 14.7761 7.22386 15 7.5 15C7.77614 15 8 14.7761 8 14.5V12.5ZM10.682 10.682C10.8772 10.4867 11.1938 10.4867 11.3891 10.682L12.8033 12.0962C12.9986 12.2915 12.9986 12.608 12.8033 12.8033C12.608 12.9986 12.2915 12.9986 12.0962 12.8033L10.682 11.3891C10.4867 11.1938 10.4867 10.8772 10.682 10.682ZM5.5 7.5C5.5 6.39543 6.39543 5.5 7.5 5.5C8.60457 5.5 9.5 6.39543 9.5 7.5C9.5 8.60457 8.60457 9.5 7.5 9.5C6.39543 9.5 5.5 8.60457 5.5 7.5ZM7.5 4.5C5.84315 4.5 4.5 5.84315 4.5 7.5C4.5 9.15685 5.84315 10.5 7.5 10.5C9.15685 10.5 10.5 9.15685 10.5 7.5C10.5 5.84315 9.15685 4.5 7.5 4.5Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"/></svg>
                </div>
                <div class="night">
                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" class="absolute h-[1.2rem] w-[1.2rem] rotate-90 scale-0 transition-all dark:rotate-0 dark:scale-100"><path d="M2.89998 0.499976C2.89998 0.279062 2.72089 0.0999756 2.49998 0.0999756C2.27906 0.0999756 2.09998 0.279062 2.09998 0.499976V1.09998H1.49998C1.27906 1.09998 1.09998 1.27906 1.09998 1.49998C1.09998 1.72089 1.27906 1.89998 1.49998 1.89998H2.09998V2.49998C2.09998 2.72089 2.27906 2.89998 2.49998 2.89998C2.72089 2.89998 2.89998 2.72089 2.89998 2.49998V1.89998H3.49998C3.72089 1.89998 3.89998 1.72089 3.89998 1.49998C3.89998 1.27906 3.72089 1.09998 3.49998 1.09998H2.89998V0.499976ZM5.89998 3.49998C5.89998 3.27906 5.72089 3.09998 5.49998 3.09998C5.27906 3.09998 5.09998 3.27906 5.09998 3.49998V4.09998H4.49998C4.27906 4.09998 4.09998 4.27906 4.09998 4.49998C4.09998 4.72089 4.27906 4.89998 4.49998 4.89998H5.09998V5.49998C5.09998 5.72089 5.27906 5.89998 5.49998 5.89998C5.72089 5.89998 5.89998 5.72089 5.89998 5.49998V4.89998H6.49998C6.72089 4.89998 6.89998 4.72089 6.89998 4.49998C6.89998 4.27906 6.72089 4.09998 6.49998 4.09998H5.89998V3.49998ZM1.89998 6.49998C1.89998 6.27906 1.72089 6.09998 1.49998 6.09998C1.27906 6.09998 1.09998 6.27906 1.09998 6.49998V7.09998H0.499976C0.279062 7.09998 0.0999756 7.27906 0.0999756 7.49998C0.0999756 7.72089 0.279062 7.89998 0.499976 7.89998H1.09998V8.49998C1.09998 8.72089 1.27906 8.89997 1.49998 8.89997C1.72089 8.89997 1.89998 8.72089 1.89998 8.49998V7.89998H2.49998C2.72089 7.89998 2.89998 7.72089 2.89998 7.49998C2.89998 7.27906 2.72089 7.09998 2.49998 7.09998H1.89998V6.49998ZM8.54406 0.98184L8.24618 0.941586C8.03275 0.917676 7.90692 1.1655 8.02936 1.34194C8.17013 1.54479 8.29981 1.75592 8.41754 1.97445C8.91878 2.90485 9.20322 3.96932 9.20322 5.10022C9.20322 8.37201 6.82247 11.0878 3.69887 11.6097C3.45736 11.65 3.20988 11.6772 2.96008 11.6906C2.74563 11.702 2.62729 11.9535 2.77721 12.1072C2.84551 12.1773 2.91535 12.2458 2.98667 12.3128L3.05883 12.3795L3.31883 12.6045L3.50684 12.7532L3.62796 12.8433L3.81491 12.9742L3.99079 13.089C4.11175 13.1651 4.23536 13.2375 4.36157 13.3059L4.62496 13.4412L4.88553 13.5607L5.18837 13.6828L5.43169 13.7686C5.56564 13.8128 5.70149 13.8529 5.83857 13.8885C5.94262 13.9155 6.04767 13.9401 6.15405 13.9622C6.27993 13.9883 6.40713 14.0109 6.53544 14.0298L6.85241 14.0685L7.11934 14.0892C7.24637 14.0965 7.37436 14.1002 7.50322 14.1002C11.1483 14.1002 14.1032 11.1453 14.1032 7.50023C14.1032 7.25044 14.0893 7.00389 14.0623 6.76131L14.0255 6.48407C13.991 6.26083 13.9453 6.04129 13.8891 5.82642C13.8213 5.56709 13.7382 5.31398 13.6409 5.06881L13.5279 4.80132L13.4507 4.63542L13.3766 4.48666C13.2178 4.17773 13.0353 3.88295 12.8312 3.60423L12.6782 3.40352L12.4793 3.16432L12.3157 2.98361L12.1961 2.85951L12.0355 2.70246L11.8134 2.50184L11.4925 2.24191L11.2483 2.06498L10.9562 1.87446L10.6346 1.68894L10.3073 1.52378L10.1938 1.47176L9.95488 1.3706L9.67791 1.2669L9.42566 1.1846L9.10075 1.09489L8.83599 1.03486L8.54406 0.98184ZM10.4032 5.30023C10.4032 4.27588 10.2002 3.29829 9.83244 2.40604C11.7623 3.28995 13.1032 5.23862 13.1032 7.50023C13.1032 10.593 10.596 13.1002 7.50322 13.1002C6.63646 13.1002 5.81597 12.9036 5.08355 12.5522C6.5419 12.0941 7.81081 11.2082 8.74322 10.0416C8.87963 10.2284 9.10028 10.3497 9.34928 10.3497C9.76349 10.3497 10.0993 10.0139 10.0993 9.59971C10.0993 9.24256 9.84965 8.94373 9.51535 8.86816C9.57741 8.75165 9.63653 8.63334 9.6926 8.51332C9.88358 8.63163 10.1088 8.69993 10.35 8.69993C11.0403 8.69993 11.6 8.14028 11.6 7.44993C11.6 6.75976 11.0406 6.20024 10.3505 6.19993C10.3853 5.90487 10.4032 5.60464 10.4032 5.30023Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"/></svg>          
                  </div>
            </div>
            <div class="login" id="logout">
                 Logout
            </div>
            <script>
                document.getElementById('logout').addEventListener('click', () => {
                  console.log('reacehded');
                     const request = new XMLHttpRequest();   
                     request.open('POST', '/user/logout', true);
                    request.setRequestHeader('Content-Type', 'application/json');
                    console.log('1');
                    request.send(JSON.stringify({logout:'logout'}));
                    console.log('1');
                    location.replace('/');
   s                   location.redirect('home');
                });
            </script>
        </div>
    </nav>
    <div class="dropDown" style="background-image: url('nav.svg');">
        <div class="content">
            <div id="homes">
                Home
            </div>
            <script>
                document.getElementById('homes').addEventListener('click', () => {
                     location.replace('/')
                 });
           </script>
          
            <div id="dash">
                Dashboard
            </div>
            <script>
                document.getElementById('dash').addEventListener('click', () => {
                     location.replace('/company/profile')
                 });
           </script>
        </div>
       
    </div>
    
    
    
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const element = document.body;
            const themeToggle = document.querySelector('.themeMode');
            const menu = document.querySelector('nav .loginBox .menu');
            const login = document.querySelector('nav .loginBox .login');
            const isDarkMode = localStorage.getItem('theme') === 'true';
            if (isDarkMode) {
                element.classList.add('darkMode');
            }
             
            menu.addEventListener('click', () => {
                const dropDown = document.querySelector('.dropDown')
                console.log(dropDown.classList,'dropdownfreurgir');
                dropDown.classList.toggle('visible');
            });
    
            login.addEventListener('click', () => {
                const dropDown = document.querySelector('.loginDropDown')
                console.log(dropDown.classList,'dropdownfreurgir');
                dropDown.classList.toggle('visible');
            });
           
            themeToggle.addEventListener('click', () => {
                element.classList.toggle('darkMode');
                const isDarkModeNow = element.classList.contains('darkMode');
                localStorage.setItem('theme', isDarkModeNow.toString());
            });
    
    
        });
    </script>
<% } %>
