* {
  margin: 0;
  padding: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: normal; 
  font-variation-settings: normal;
}

@keyframes gradientAnimation {
  0% {
   background: linear-gradient(90deg, #7b54f2, #ff667e, #ffab6f);
   -webkit-background-clip: text;
   color: transparent;
  }
  50% {
    background: linear-gradient(90deg, #ffab6f, #7b54f2, #ff667e);
    -webkit-background-clip: text;
    color: transparent;
  }
  100% {
    background: linear-gradient(90deg, #7b54f2, #ff667e, #ffab6f);
    -webkit-background-clip: text;
    color: transparent;
  }
}
@keyframes marqueeAnimation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}


*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  height: 400px;
 
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  counter-increment: item;
}

.carousel__slide:nth-child(even) {
}

.carousel__slide:before {
 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background: linear-gradient(90deg, #7b54f2, #ff667e, #ffab6f);
  cursor: pointer;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: relative;
  top: 0;

  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
}

.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #db2525;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}




.main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;

  border-radius: 6px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.welcome {
  text-align: center;
 
}

.welcome {
  background: #005c0d;
  height: 117vh;
  position: relative;
  display: flex;

  overflow: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
.test{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3);
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
     
}
.threeD {
  display: flex;
  position: fixed;
  background-image: url('green-cardamom-pods-bowl-isolated-white-background-with-copy-space-text-images-used-as-flavorings-both-food-drink-as-cooking-spices-as-medicine-frame-composition-close-PhotoRoom.png-PhotoRoom.png');
  bottom: -5;
  left: 40%;
  width: 30%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  scale: 2;
}
.threeD2{
  display: flex;
  position: absolute;
  background-image: url('auctionCenter.png');
  bottom: -60%;
  left: 40%;
  width: 30%;
  height: 100%;

 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  scale: 2;
}
.child_three{
  grid-area: 1/1/7/11;
  overflow: hidden;
  position: relative;
}
#img_three{
  width: 100%;
  height: 100%;
  background-position:center;
  position: absolute;
  inset: 0;
  background-size: cover;
    background-color: white;


  transition: .50s;
  background-repeat: no-repeat;
}
#img_three:hover{
  transform: scale(1.05);
}

.child_four{
  grid-area: 1/11/7/21;
  overflow: hidden;
  position: relative;
}
#img_four{
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background-position:center;
  background-size: cover;
  background-color: white;
  transition: .50s;
  background-repeat: no-repeat;
  z-index: 0;
}
#img_four:hover{
  transform: scale(1.05);
}
.news{
  font-size: xx-large;
  z-index: 1;
}
.child_five{
  grid-area: 7/1/8/21;
  background-color: rgb(228, 162, 7);
  overflow: hidden;
}
#img_five{
  width: 100%;
  height: 100%;
  background-position:center;
  background-size: cover;
  background-image: url(bottom-bannerPC.jpg);
  transition: 35s;
  background-repeat: no-repeat;
}

.button-border-half {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #000;
}

.button-border-half::before,
.button-border-half::after {
  content: "";
  position: absolute;
  width: 25%;
  height: 100%;
  border: 1px solid whitesmoke;
}

.button-border-half::before {
  left: 0;
  top: 0;
  border-right: none;
}

.button-border-half::after {
  right: 0;
  top: 0;
  border-left: none;
}

.button-border-half.bottom::before,
.button-border-half.bottom::after {
  content: "";
  position: absolute;
  width: 25%;
  height: 50%;
}

.button-border-half.bottom::before {
  left: 0;
  bottom: 0;
  border-right: none;
}

.button-border-half.bottom::after {
  right: 0;
  bottom: 0;
  border-left: none;
}

.bullet-point {
  display: flex;
  position: absolute;
  bottom: -70px;
  left: 40px;
  align-items: center;
}

.bullet-point::before {
  content: '\2022'; 
  margin-right: 5px;
  color: #007bff; 
  font-size: 7rem; 
  animation: gradientAnimation 3s linear infinite;
}

.custom-text {
  display: flex;
  position: absolute;
  bottom: -150px;
  left: 50px;
  font-size: 121px;
  color: #ffff;
  white-space: nowrap; 
  overflow: hidden;
  animation: marqueeAnimation 25s linear infinite; 
}
.custom-texts::before {
  content: attr(data-text);
  visibility: hidden;
}
.custom-texts {
  display: flex;
  position: relative;

  white-space: nowrap; 
  overflow: hidden;
  animation: marqueeAnimation 5s linear infinite; 
}


@keyframes moveTruck {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.custom-road {
  display: flex;
  position: absolute;
  bottom: -150px;
  width: 100%;
  justify-content: space-between;
  overflow: hidden;
}
.custom-roads {
  display: flex;
  position: relative;
  align-items: flex-end;
  width: 500px;
  overflow: hidden;
  bottom: -25%;
}
.custom-roadss {
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 500px;
  overflow: hidden;
  bottom: -25%;
}

.custom-truck-empty{
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  animation: moveTruck 5s linear infinite; 
}
.custom-truck-loaded {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;

  animation: moveTruck 10s  infinite; 
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

.custom-truck-empty {
  background-image: url('emptyTruck.png');
}

.custom-truck-loaded {
  background-image: url('loadedTruck.png');
}
.welcome h1 {
  margin-top:23% ;
}
.featured-auctions {
  text-align: center;
  
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  border-radius: 6px;
  z-index: 3;
  text-align: start;
  letter-spacing: normal;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  border: 0.5px solid #e5e7eb;
  
}



nav .logo {
  display: flex;
  z-index: 2;
  padding: 8px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  border: 0.2px solid #e5e7eb;
}

nav .logo div {
  display: flex;
  align-items: center;

}

nav .content {
  display: flex;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  justify-content: space-between;
  gap: 10px;
  z-index: 2;
  border: 0.2px solid #e5e7eb;
  border-radius: 6px;
}
nav .content div {
  padding: 3px;
  border-radius: 10px;
  transition: border 0.3s ease; 
}

nav .content div:hover {
  background-color: #f1f5f9;
  cursor: pointer;
  animation: gradientAnimation 3s linear infinite;
  background: linear-gradient(90deg, #7b54f2, #ff667e, #ffab6f);
  -webkit-background-clip: text;
  color: transparent; 

  
}


nav .loginBox {
  display: flex;
  padding: 8px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border: 0.2px solid #e5e7eb;
  
}
nav .loginBox .themeMode {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  padding: 5px;
  border-radius: 6px;


}
nav .loginBox .menu {
  display: none;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  padding: 5px;
  border-radius: 6px;


}
nav .loginBox .themeMode .day {
  display: flex;
  align-items: center;
  justify-content: center;
 
}

nav .loginBox .themeMode:hover {
  background-color: #f1f5f9;
  
}


nav .loginBox .login {
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  border-radius: 6px;
  
}

nav .loginBox .night {
  display: none;

}

.dropDown {
  position: relative;
  display: none;
  padding-left: 50%;
  flex-direction: column;
  align-items: right;
  align-content: flex-end;
}
.dropDown .content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  border: 0.5px solid #e5e7eb;
  border-radius: 6px;
}
.dropDown .content div:hover {
  background-color: #363636;
  cursor: pointer;
  animation: gradientAnimation 3s linear infinite;
  background: linear-gradient(90deg, #7b54f2, #ff667e, #ffab6f);
  -webkit-background-clip: text;
  color: transparent; 
}


.loginDropDown {
  position: relative;
  display: none;
  padding-left: 80%;
  flex-direction: column;
  align-items: right;
  align-content: flex-end;
}


.loginDropDown .content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  border: 0.5px solid #e5e7eb;
  border-radius: 6px;

}
.loginDropDown .content div:hover {
  background-color: #363636;
  cursor: pointer; 
  color: white;
  border: 2px solid;
  border-image: linear-gradient(90deg, #7b54f2, #ff667e, #ffab6f) 1;
  border-image-slice: 1;
  animation: gradientAnimation 3s linear infinite;
}



.loginDropDown.visible {
  display: flex;
}

nav .loginBox .login:hover {
  background-color: #686868;
  cursor: pointer;
}


/* header */
.header {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

  border: 1px solid rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  border: 0.5px solid #e5e7eb;
}


.header .title {
  font-size: 30px;
  line-height: 36px;
  text-align: start;
  letter-spacing: -0.75px;
  color: #020817;

}

.header .content {
  display: flex;
  gap: 10px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  border: 0.5px solid #e5e7eb;
  border-radius: 8px;
  background-color: #f1f5f9;
  color: #64748b;
  box-shadow: none;
}
.header .content div {
 
  padding: 0.25rem;
  border-radius: 6px;
  letter-spacing: -0.75px;
}


.header .content div:hover {
  box-shadow:rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
  background-color: #ffffff;
  color: #020817;
  cursor: pointer;
}


.layout {
  display: grid;
  grid-column: 12;
}

.layout .header {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-column-start: 0;
  grid-column-end: 1;
}

.layout .body {
  scroll-behavior: smooth;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px,2fr));
  gap: 10px;
   grid-column-start: 1;
   grid-column-end: 13;
   align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

  border: 1px solid rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  border: 0.5px solid #e5e7eb;
  max-height: 450px;
  overflow-x: hidden;
  overflow-y: auto;
 }
 .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  border-radius: 8px;

}

.card .cardHead {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.card .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.card .cardBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.card .footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card .footer button {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content:center;
  gap: 4px;
  background-color: #0f172a;
  color: #f8fafc;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  border-radius: 6px 6px 4px 4px;
}


.form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid #E4E4E7;
  padding: 10px;
  padding-left: 20px;
}

.form  h4{
  color: #09090B;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.4px;
}
.form .description {
  color: #71717A;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; 
}
.form label {
  color: #09090B;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; 
}
.form input {
  height: 36px;
  border-radius: 6px;
  border: 1px solid #E4E4E7;
}
.form .buttonHolder {
  display: flex;
  padding: 5px;
  justify-content: flex-end;
}
.form .buttonHolder .cancel {
  color: #09090B;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; 
  padding: 3px;
}
.form .buttonHolder .submit {
  border-radius: 6px;
  background: #18181B;
  color: #FAFAFA;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 3px;
}

.loginLayout {
  display:flex;
  justify-content:center;
  align-items: center;
  margin-top: 10px;
}

.loginLayout .auth{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 50%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #000;
}
.loginLayout .auth .header {
  color: #09090B;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  
  letter-spacing: 0.6px;
}
.loginLayout .auth .description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.loginLayout .auth .description .content {
   color: #71717A;
   text-align: center;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 20px; 
}
.loginLayout .form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  gap: 20px;
}
.loginLayout .formLogin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.loginLayout .auth .form input {
  height: 36px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #E4E4E7;
}
.loginLayout .auth .formLogin input {
    height: 36px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #E4E4E7;
  }
.loginLayout .auth .form button {
  height: 36px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #E4E4E7;
}
.loginLayout .auth .formLogin button {
  height: 36px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #E4E4E7;
}
.loginLayout .auth .form  .loginBotton{ 
  height: 36px;
  flex-shrink: 0;
  border-radius: 6px;
  color: #FAFAFA;;
  border: 1px solid #E4E4E7;
  border-radius: 6px;
  background: #18181B;
}
.loginLayout .auth .formLogin  .loginBotton{
  height: 36px;
  flex-shrink: 0;
  border-radius: 6px;
  color: #FAFAFA;;
  border: 1px solid #E4E4E7;
  border-radius: 6px;
  background: #18181B;
}
.loginLayout .auth .form  .SignupButton{
  width: 100%;
  height: 36px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #E4E4E7; 
  border-radius: 6px;
  background: #fff;
}
.loginLayout .auth .formLogin  .SignupButton{
  width: 350px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #E4E4E7;
  border-radius: 6px;
  background: #fff;
}
.redirectAuth {
  text-decoration: none;
  color: #000;
}
.loginLayout .auth .form .frame {
  display: flex;
  position: relative;
  align-items: center;
}
.loginLayout .auth .formLogin .frame {
  display: flex;
  position: relative;
  align-items: center;
}
.loginLayout .auth .form .frame .seperator {
  position: absolute;
  width: 100%;
  background: #E4E4E7;
  height: 3px;
  z-index: -1;
}
.loginLayout .auth .formLogin .frame .seperator {
  position: absolute;
  width: 100%;
  background: #E4E4E7;
  height: 3px;
  z-index: -1;
}
.loginLayout .auth .form .frame .content {
  display: flex;
  justify-content: center;
  z-index: 1;
  right: 20%;
  left: 20%;
  padding: 3px;
  align-items: center;
  position: absolute;
  color: #71717A;
  background-color: #ffff;
  white-space: nowrap;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; 
  text-transform: uppercase;
}
.loginLayout .auth .formLogin .frame .content {
  display: flex;
  justify-content: center;
  z-index: 1;
  right: 20%;
  left: 20%;
  padding: 3px;
  align-items: center;
  position: absolute;
  color: #71717A;
  background-color: #ffff;
  white-space: nowrap;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; 
  text-transform: uppercase;
}
.loginLayout .auth .footerLogin {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
input[type="text"]::placeholder {
  text-align: center;
}
.loginLayout .auth .footerLogin .inlineFooterDiscription{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 810px) {
  .welcome h1 {
    margin-top:50% ;
  }
  .dropDown {
    position: relative;
    display: none;
    padding-left: 50%;
    flex-direction: column;
    align-items: right;
    align-content: flex-end;
    
  }
  .dropDown.visible {
    display: flex; 
  }
 
  nav .content {
    display: none;
  }
  nav .loginBox .menu {
    display: flex;
  }
  nav .loginBox .menu:hover {
    cursor: pointer;
  }
  .loginDropDown{
    padding-left: 50%;
  }

  .header  {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    gap: 10px;
  }
  .layout {
    display: flex;
    flex-direction: column;

  }
  

  
  .layout .body {
     grid-template-columns: repeat(auto-fill, minmax(auto-fill,auto-fill));
   }
 .card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    border: 0.5px solid #e5e7eb;
  }
  .body .card {
    flex-direction: column;
  }
  .card .cardBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
  }
  .loginLayout .auth{
    width: 100%;
    margin: 10px;
  }
  .hide-on-mobile {
    display:none
  }
  .welcome {
    height: 83vh;
  }
}


.profileEdit {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 8;
  display: none;
  flex-direction: column;
  max-width: 400px;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid #E4E4E7;
  background: #FFF;
  padding: 10px;
  padding-left: 20px;
  max-height:580px;
  overflow-y:auto;
}
.profileEdit  h4{
  color: #09090B;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */
  letter-spacing: 0.4px;
}
.profileEdit .description {
  color: #71717A;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; 
}
.profileEdit label {
  color: #09090B;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; 
}
.profileEdit input {
  height: 36px;
  border-radius: 6px;
  border: 1px solid #E4E4E7;
}
.profileEdit .buttonHolder {
  display: flex;
  padding: 5px;
  justify-content: flex-end;
}
.profileEdit .buttonHolder .cancel {
  color: #09090B;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; 
  padding: 3px;
}
.profileEdit .buttonHolder .submit {
  border-radius: 6px;
  background: #18181B;
  color: #FAFAFA;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 3px;
}

.parent{
  width: 100%;
  height: 250px;
  background-color: rgb(231, 223, 223);
  display: grid;
  grid-template-rows: repeat(7,1fr);
  grid-template-columns: repeat(20,1fr);
  row-gap: 2px;
  column-gap: 2px;
}
.spice {
  display: none;
}

.auction {
  display: none;
}

.add {
  display: none ;
}


.visible {
  display: flex;
}
.hide {
  display: none;
}
.darkMode {
    background-color: #020817;
    color: white;
}
.darkMode nav,
.darkMode nav {
background-color: #1a1a1a;
border: 0.5px solid #8b8b8b;
}
.darkMode .header {
  border-top: none;
  border-left: none;
  border-right: 0.5px solid #3a3a3a;
  border-bottom: 0.5px solid #3a3a3a;
}

.darkMode .header .title {
  color: #f8fafc;
}

.darkMode .header .content {
  background-color: #1e293b;
  color: #94a3b8;
  border: 0.5px solid #3a3a3a;
}
.darkMode .form,
.darkMode .form input,
.darkMode .header .content div:hover {
  box-shadow:rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
  background-color: #020817;
  color: #f8fafc;
  
}
.darkMode 
.darkMode nav,
.darkMode .logo,
.darkMode .content,


.darkMode .body,
.darkMode .loginBox,
.darkMode .card {
  border: none
}
.darkMode .content{
  border-bottom: 0.5px solid #3a3a3a;
}
.darkMode .card .main {
  background-color: #363636;
}
.darkMode nav .content div:hover {
  background-color: #363636;
}
.darkMode .body {
  border-bottom: 0.5px solid #3a3a3a;

}

.darkMode nav .loginBox .themeMode:hover {
  background-color: #363636;
};


